<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="idl-bar" align-title="center">
      <ion-nav-back-button class="idl-button"> </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button
          class="button button-icon button-clear ion-navicon idl-menu-button"
          menu-toggle="left"
        ></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar
      class="idl-bar idl-menu-bar"
      menu-close
      ng-click="editUserDataOrGoToLogin()"
    >
      <div class="item-icon-left" style="margin-bottom: auto; margin-top: auto">
        <img
          class="icon idl-menu-avatar"
          ng-src="{{userProfileData.photo || 'img/anonUser.png'}}"
        />
        <div class="idl-menu-username">
          <span>{{userProfileData.name}}</span>
        </div>
        <div class="idl-menu-profile-label">
          <span ng-if="verifyUserSessionStatus">Ver minha conta</span>
          <span ng-if="!verifyUserSessionStatus">Fazer login</span>
        </div>
      </div>
    </ion-header-bar>

    <ion-content class="idl-bar">
      <div class="idl-menu-margin"></div>
      <ion-list class="idl-menu-margin">
        <div
          ng-if="verifyEstablishmentsQuantity.length > 1"
          class="sidemenu-item-border"
        ></div>
        <ion-item
          ng-if="verifyEstablishmentsQuantity.length > 1"
          class="item sidemenu-item idl-menu-item"
          menu-close
          href
          ng-click="chooseEstablishment()"
        >
          <div class="sidemenu-item-icon">
            <i class="icon fa fa-home idl-icon"></i>
          </div>
          <div class="sidemenu-item-title">Estabelecimenŧos</div>
        </ion-item>
        <ion-item ng-if="verifyEstablishmentsQuantity.length > 1 && isMarketPlace" class="item sidemenu-item idl-menu-item" menu-close href
          ng-click="goFavorites()">
          <div class="sidemenu-item-icon">
            <i class="icon fa fa-heart idl-icon"></i>
          </div>
          <div class="sidemenu-item-title">Favoritos</div>
        </ion-item>
        <div
          ng-if="storeSelected && storeSelected !== ''"
          class="sidemenu-item-border"
        ></div>
        <ion-item
          ng-if="storeSelected && storeSelected !== ''"
          class="item sidemenu-item idl-menu-item"
          menu-close
          ui-sref="app.products"
        >
          <div class="sidemenu-item-icon">
            <i class="icon fa {{iconMenu}} idl-icon"></i>
          </div>
          <div class="sidemenu-item-title">
            {{optionMenu}}
            <strong
              class="menu-establishment-name"
              ng-if="verifyEstablishmentsQuantity.length > 1"
              >({{storeSelected.name}})</strong
            >
          </div>
        </ion-item>
        <div ng-if="verifyLocalStatus()" class="sidemenu-item-border"></div>
        <ion-item
          ng-if="verifyLocalStatus()"
          class="item sidemenu-item idl-menu-item"
          menu-close
          ui-sref="app.orders"
        >
          <div class="sidemenu-item-icon">
            <i class="icon fa fa-file-text idl-icon"></i>
          </div>
          <div class="sidemenu-item-title">Pedidos</div>
        </ion-item>
        <div ng-if="verifyLocalStatus()" class="sidemenu-item-border"></div>
        <ion-item
          ng-if="verifyLocalStatus()"
          class="item sidemenu-item idl-menu-item"
          menu-close
          ui-sref="app.addressList"
        >
          <div class="sidemenu-item-icon">
            <i class="icon fa fa-location-arrow idl-icon"></i>
          </div>
          <div class="sidemenu-item-title">Meus Endereços</div>
        </ion-item>
        <div class="sidemenu-item-border"></div>
        <ion-item
          class="item sidemenu-item idl-menu-item"
          menu-close
          ui-sref="app.contact"
        >
          <div class="sidemenu-item-icon">
            <i class="icon fa fa-envelope idl-icon"></i>
          </div>
          <div class="sidemenu-item-title" ng-if="isMarketPlace">
            Fale com o Idelivery
          </div>
          <div class="sidemenu-item-title" ng-if="!isMarketPlace">
            Fale conosco
          </div>
        </ion-item>
        <ion-item
          class="item sidemenu-item idl-menu-item"
          menu-close
          ng-click="RegisterBusiness()"
          id="idl-menu-item-business"
        >
          <div class="sidemenu-item-icon">
            <i class="icon fa fa-suitcase idl-icon"></i>
          </div>
          <div class="sidemenu-item-title">Cadastre seu negócio</div>
        </ion-item>
        <div class="sidemenu-item-border"></div>
        <ion-item
          class="item sidemenu-item idl-menu-item"
          menu-close
          href=""
          ng-click="inviteFriend()"
        >
          <div class="sidemenu-item-icon">
            <i class="icon fa fa-share-alt idl-icon"></i>
          </div>
          <div class="sidemenu-item-title">Convide seus Amigos</div>
        </ion-item>
        <div class="sidemenu-item-border"></div>
        <ion-item class="item sidemenu-item idl-menu-item" menu-close ng-click="openTermsofuser()">
          <div class="sidemenu-item-icon">
            <i class="icon fa fa-archive idl-icon"></i>
          </div>
          <div class="sidemenu-item-title">
            Termos de Uso
          </div>
        </ion-item>
        <div class="sidemenu-item-border"></div>
        <ion-item
          class="item sidemenu-item idl-menu-item"
          menu-close
          ui-sref="app.about"
        >
          <div class="sidemenu-item-icon">
            <i class="icon fa fa-info idl-icon"></i>
          </div>
          <div class="sidemenu-item-title">Sobre</div>
        </ion-item>
        <div ng-if="verifyUserSessionStatus" class="sidemenu-item-border"></div>
        <ion-item
          ng-if="verifyUserSessionStatus"
          class="item sidemenu-item idl-menu-item"
          menu-close
          href
          ng-click="doLogout()"
        >
          <div class="sidemenu-item-icon">
            <i class="icon fa fa-sign-out idl-icon"></i>
          </div>
          <div class="sidemenu-item-title">Sair</div>
        </ion-item>
        <div
          ng-if="!verifyUserSessionStatus"
          class="sidemenu-item-border"
        ></div>
        <ion-item
          ng-if="!verifyUserSessionStatus"
          class="item sidemenu-item idl-menu-item"
          menu-close
          href
          ng-click="goToLogin()"
        >
          <div class="sidemenu-item-icon">
            <i class="icon fa fa-sign-in idl-icon"></i>
          </div>
          <div class="sidemenu-item-title">Login</div>
        </ion-item>
        <!-- <ion-footer-bar align-title="left" class="footer-menu-idl" style="text-align: center;height: 65px;">
          <div class="col-md-12">
          <span class="title" style="width: 100%;text-align: center;">Desenvolvidor por:</span>
          <span class="title" style="width: 100%;text-align: center;"><a href="https://www.deway.com.br" style="text-decoration:none;">www.deway.com.br</a></span>
        
        </ion-footer-bar> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
