<ion-view view-title="Favoritos" view-cache="false">
    <ion-nav-bar class="bar idl-bar"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon idl-button" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="Deslize para Atualizar" on-refresh="doRefresh()">
        </ion-refresher>
       
        <div align="center" ng-if="!noEstablishments" class="padding text-info">
            Lista dos seus Estabelecimentos Favoritos
            <br /><br />
           
        </div>

        </div>
        <div class="product-list-search">
            <div class="item item-input product-list-search-input">
                <input name="input" type="text" ng-minlength="3" id="inputSearch" ng-model="keywords.data"
                    placeholder="Digite o nome do estabelecimento" ng-enter="openShowSearchModal()" />
                <button class="button button-assertive icon ion-search padding-right" ng-click="openShowSearchModal()"
                    ng-disabled="!keywords.data"></button>
                <button class="button button-assertive icon fa fa-barcode padding-right" ng-click="scanBarcode()"
                    style="display: none;"></button>
            </div>
        </div>

        <div ng-if="noFavEstablishments" align="center" class="padding text-info noestablishments-div">
            <div class="noestablishments-info">
                <img class="noestablishments-img" src="img/sad-emoticon.png" />
                <br />
                <strong>Ops...</strong>
                <br />
                Você ainda não possui estabelecimentos favoritos:
                <br /><br /><br />
                <div class="noestablishments-address">
                    "Faça Compras e Favorite os seus Estabelecimentos Preferidos"
                </div>
                <br /><br /><br />
                <button ng-click="goToStores()" class="button button-positive idl-button">
                    Ir Para todos os Estabelecimentos
                </button>
            </div>

           
        </div>

        <ion-list ng-if="selectedAddress" style="float: left; width: 100% !important">
            <div class="item item-divider idl-divider cart-item-divider" ng-if="isMarketPlace">
                <span >Estabelecimentos Favoritos</span>
                
            </div>
            <ion-item ng-repeat="store in favoriteStores" ng-click="selectStoreFavorite(store.establishment)"
                class="item-avatar">
                <img class="icon idl-store-avatar" ng-src="{{store.establishment.image_url}}" />
            <h2 class="idl-list-item">
                {{ store.establishment.name }}
                
            </h2>
                <p class="store-list-address idl-list-item-description">
                    {{ store.establishment.street }}, nº {{ store.establishment.number }}, {{
                        store.establishment.neighborhood }}
                </p>
                <p ng-if="store.establishment.distance" class="store-distance idl-store-distance">
                    {{store.establishment.distance + " Km"}}
                </p>
            </ion-item>
            
        </ion-list>
    </ion-content>
</ion-view>