<ion-view view-title="{{establishmentName}}" view-cache="false">
  <ion-nav-bar class="bar idl-bar"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <button
      class="button button-icon button-clear ion-navicon idl-button"
      menu-toggle="left"
    ></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher
      pulling-text="Deslize para Atualizar"
      on-refresh="doRefresh()"
    >
    </ion-refresher>
    <div ng-if="selectedAddress && !noEstablishments && isMarketPlace ">
      <div class="item item-divider idl-divider cart-item-divider">
        <span>Receber no Endereço ou Retirar na loja</span>
      </div>
      <div align="center" class="padding">
        <button ng-if="isDelivery" class="modality-select-button" ng-click="setDelivery()">
          <span>Receber no</span><br />
          Endereço
        </button>
        <button ng-if="isDelivery" class="modality-not-select-button" ng-click="setPickUp()">
          <span>Retirar na</span><br />
          Loja
        </button>
        <button ng-if="isPickUp" class="modality-not-select-button" ng-click="setDelivery()">
          <span>Receber no</span><br />
          Endereço
        </button>
        <button ng-if="isPickUp" class="modality-select-button" ng-click="setPickUp()">
          <span>Retirar na</span><br />
          Loja
        </button>
      </div>
    </div>
    <div
      align="center"
      ng-if="selectedAddress && !noEstablishments"
      class="padding text-info"
    >
      Escolha uma das unidades abaixo que atenda na sua localidade atual:
      <br /><br />
      <div class="address-list-current-div">
        <div class="address-list-current">
          {{selectedAddress}}
        </div>
        <button
          ng-click="changeAddress()"
          class="address-list-changebutton button button-positive button-clear"
        >
          (Alterar)
        </button>
      </div>
    </div>
    
    </div>
    <div class="product-list-search">
      <div class="item item-input product-list-search-input">
        <input
        name = "input"
          type="text"
          ng-minlength="3"
          id="inputSearch"
          ng-model="keywords.data"
          placeholder="Digite o nome do estabelecimento"
          ng-enter="openShowSearchModal()"
        />
        <button
          class="button button-assertive icon ion-search padding-right"
          ng-click="openShowSearchModal()"
          ng-disabled = "!keywords.data"
          
        ></button>
        <button
          class="button button-assertive icon fa fa-barcode padding-right"
          ng-click="scanBarcode()"
          style="display: none;"
        ></button>
      </div>
    </div>

    <div
      ng-if="noEstablishments"
      align="center"
      class="padding text-info noestablishments-div"
    >
      <div ng-if="selectedAddress" class="noestablishments-info">
        <img class="noestablishments-img" src="img/sad-emoticon.png" />
        <br/>
        <strong>Ops...</strong>
        <br />
        Ainda não chegamos nesta região:
        <br /><br /><br />
        <div class="noestablishments-address">
          {{selectedAddress}}
        </div>
        <br /><br /><br />
        <button
          ng-click="changeAddress()"
          class="button button-positive idl-button"
        >
          Selecionar outro endereço
        </button>
      </div>

      <div ng-if="!selectedAddress" class="noestablishments-info">
        <img class="noestablishments-img" src="img/sad-emoticon.png" />
        <br />
        <strong>Ops...</strong>
        <br />
        Não foi possível obter informações <br />
        da localização atual. <br /><br /><br />
        <button
          ng-click="updateLocation()"
          class="button button-positive idl-button"
        >
          Tentar Novamente
        </button>
        <br /><br />
        <strong>Ou</strong>
        <br /><br />
        <button
          ng-click="changeAddress()"
          class="button button-positive idl-button"
        >
          Selecionar Endereço Manualmente
        </button>
      </div>
    </div>

    <ion-list ng-if="selectedAddress" style="float: left; width: 100% !important">
      <div class="item item-divider idl-divider cart-item-divider" ng-if="isMarketPlace">
        <span ng-if="isDelivery && !isPickUp">Entregam no Bairro</span>
        <span ng-if="!isDelivery && isPickUp">Lojas para Retirada</span>
      </div>
      <ion-item ng-repeat="store in stores | orderBy: ['-is_open', '!distance']" ng-click="selectStore(store)" class="item-avatar">
        <img class="icon idl-store-avatar" ng-src="{{store.image_url}}" />
        <h2 class="idl-list-item">
          {{ store.name }}
          <div class="idl-store-status"
            ng-class="{'restaurant-status-open-label': store.is_open, 'restaurant-status-closed-label': !store.is_open}">
            {{ handleRestaurantStatusName(store.is_open) }}
          </div>
        </h2>
        <p class="store-list-address idl-list-item-description">
          {{ store.street }}, nº {{ store.number }}, {{
                        store.neighborhood }}
        </p>
        <p ng-if="store.distance" class="store-distance idl-store-distance">
          {{store.distance + " Km"}}
        </p>
      </ion-item>
      <div class="item item-divider idl-divider cart-item-divider" ng-if="isDelivery && !isPickUp && isMarketPlace  ">
        <span>Não entregam no bairro</span>
      </div>
      <ion-item ng-if="isDelivery && !isPickUp && isMarketPlace" ng-repeat="store in storesNotAccepted | orderBy: ['-is_open', '!distance']" class="item-avatar">
        <img class="icon idl-store-avatar" ng-src="{{store.image_url}}" />
        <h2 class="idl-list-item">
          {{ store.name }}
          <div class="idl-store-status"
            ng-class="{'restaurant-status-open-label': store.is_open, 'restaurant-status-closed-label': !store.is_open}">
            {{ handleRestaurantStatusName(store.is_open) }}
          </div>
        </h2>
        <p class="store-list-address idl-list-item-description">
          {{ store.street }}, nº {{ store.number }}, {{
                        store.neighborhood }}
        </p>
        <p ng-if="store.distance" class="store-distance idl-store-distance">
          {{store.distance + " Km"}}
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
