<ion-view view-title="Adicionar ao Carrinho" cache-view="false">
  <ion-content class="has-footer" idl-toggle-overflow-scroll>

    <ion-slide-box pager-click="navSlide(index)" does-continue="true" auto-play="true" class="img-slider-product">
      <ion-slide  ng-repeat="image in image_array">
        <div ng-if="product.cover_image" align="center" class="item pre-order-product-img-div">
          <img class="pre-order-product-img" id="slider-photo" ng-src="{{image}}" ng-click="viewer($index)">
        </div>
      </ion-slide>
    </ion-slide-box>

    <div class="list list-inset">
      <div class="item">
        <i class="pre-order-product-name">{{product.name}}</i>
        <div class="pre-order-product-description idl-list-item-description">
          {{product.description}}
        </div>
        <div>
          <br/>
          <p class="text-muted" ng-repeat="composition in preOrderCompositions">
            <i class="composition-name">{{composition.quantity}}x {{composition.name}}</i>
          </p>
        </div>
        <div class="row container-counter">
          <div class="col col-center col-67">
            <p>Valor unitário: R$ {{ unityValue | number:2 }}</p>
          </div>
          <div class="counter-complements pull-right col">
            <div class="row row-center" style="padding: 0">
              <button
                class="button button-small button-assertive icon ion-minus col col-minus decrease-items"
                ng-click="decreaseItems()">
              </button>
              <div class="col col-counter row">
                <h2 class="title col col-center">{{counter}}</h2>
              </div>
              <button
                class="button button-small button-balanced icon ion-plus col col-plus duplicate-items"
                ng-click="duplicateItems()">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="padding-right pull-right container-pre-order-total">
      <p class="value-order-total text-info"> Total: <span class="idl-price pre-order-total"> &nbsp; R$ {{ totalValue | number:2 }} </span>
      </p>
    </div>

    <div class="padding item item-input pre-order-notes">
            <textarea class="" maxlength="256" placeholder="Observações" rows="3"
                      ng-model="product.comments"></textarea>
    </div>
  </ion-content>
  <div class="bar bar-footer idl-bar ">
    <div ng-click="addToCart()" class="title">
      ADICIONAR AO CARRINHO
    </div>
  </div>
</ion-view>
