<ion-view view-title="Pedidos" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon idl-menu-button" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content>

    <ion-refresher pulling-text="Deslize para Atualizar" on-refresh="doRefresh()">
    </ion-refresher>

    <div class="empty-cart" ng-if="!orders.length">
      <a>Você não efetuou nenhum pedido ainda.</a>
    </div>
    <div class="list" ng-if="orders.length">
      <div class="idl-order-card list card" ng-repeat="order in orders | orderBy: '-order_date'" ng-click="openOrderDetails(order.id)">

        <div class="item item-avatar idl-divider">
          <img ng-src="{{order.establishment.image_url}}" />
          <h2>{{order.establishment.name}}</h2>
          <p> Pedido #{{order.id}}</p>
        </div>

        <div class="item item-text-wrap">
          <p>
            <strong>Horário do Pedido: </strong>
            <strong ng-bind="order.order_date | date: 'HH:mm - dd/MM/yyyy'"></strong>
          </p>
          <p>
            <strong>Status: </strong>
            <strong ng-class="{'order-status-pending-label': order.status == 1, 'order-status-approved-label': order.status == 2, 'order-status-refused-label': order.status == 3 || order.status == 4}">{{setOrderStatusName(order.status)}}</strong>
          </p>
          <p>
            <strong>Forma de Pagamento: </strong> {{order.payment_type.name}}
          </p>
          <p>
            <strong>
              Taxa de Entrega:
            </strong>
            <strong ng-if="order.shipping==0" class="idl-price">
              (Grátis) R$ {{ order.shipping | number:2 }}
            </strong>
            <spam ng-if="order.shipping>0">
              R$ {{ order.shipping | number:2 }}
            </spam>
          </p>
          <p ng-if="order.discount">
            <strong>
              Desconto:
            </strong>
            <strong class="idl-price">
              ({{ (-order.discount * 100/ (order.total - order.discount - order.shipping)).toFixed(1) }}%) R$ -{{ -order.discount | number:2
              }}
            </strong>
          </p>
          <p ng-if="order.amount_discounted">
            <strong>
              Desconto:
            </strong>
            <strong class="idl-price">
              ({{ (order.amount_discounted * 100/ (order.total + order.amount_discounted - order.shipping)).toFixed(1) }}%) R$ -{{ order.amount_discounted
              | number:2 }}
            </strong>
          </p>
          <p>
            <strong>Valor Total: </strong>
            <strong class="idl-price"> R$ {{order.total | number:2 }} </strong>
          </p>
          <p ng-if="order.refuse_message_client">
            <strong>Motivo da Recusa: </strong> {{order.refuse_message_client}}
          </p>
        </div>
        <div align="right" class="item item-divider idl-divider text-info" style="line-height: 2">
          +Ver Detalhes
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>