<ion-view view-title="Pedido" cache-view="false">
  <ion-content>
    <div>
      <div class="item item-divider item-divider-top cart-order" ng-repeat="order in orderDetail.items">
        <div class="row" style="padding: 0;">
          <div class="col col-center col-67">
            <i class="cart-product-name">{{order.quantity}}x {{order.productName}}</i>
          </div>
          <div class="col">
            <h2 class="pull-right ">
              R$ {{ order.totalOrder | number:2 }}
            </h2>
          </div>
        </div>

        <p class="text-muted" ng-if="order.compositions.length">Complementos:</p>
        <p ng-repeat="composition in order.compositions">
          <i class="composition-name">{{composition.quantity}}x {{composition.name}}</i>
        </p>
      </div>
    </div>
    <div class="item item-list values-payment">
      <div class="item item-borderless">
        <h2 class="pull-left text-info">Taxa de Entrega: </h2>
        <h2 ng-if="shipping==0" class="pull-right idl-price "> (Grátis) R$ {{ shipping | number:2 }} </h2>
        <h2 ng-if="shipping>0" class="pull-right ">R$ {{ shipping | number:2 }} </h2>
      </div>
      <div ng-if="order.discount" class="item item-borderless">
        <h2 class="pull-left text-info">Desconto: </h2>
        <h2 class="pull-right idl-price"> ({{ (-order.discount * 100/ (order.total - order.discount - order.shipping)).toFixed(1) }}%) R$ -{{ -order.discount | number:2
        }}</h2>
      </div>
      <div ng-if="order.amount_discounted" class="item item-borderless">
        <h2 class="pull-left text-info">Desconto: </h2>
        <h2 class="pull-right idl-price"> ({{ (order.amount_discounted * 100/ (order.total + order.amount_discounted - order.shipping)).toFixed(1) }}%) R$ -{{ order.amount_discounted
          | number:2 }}</h2>
      </div>
      <div class="item item-borderless">
        <h2 class="pull-left text-info order-total-label">Valor Total: </h2>
        <h2 class="pull-right order-total">  R$ {{order.total | number:2 }} </h2>
      </div>
    </div>
    <div class="item item-list padding" ng-if="refuseReason">
      <p>
        <strong>Motivo da Recusa: </strong> {{refuseReason}}
      </p>
    </div>
    <div class="item item-list padding refuse-text">
      <span class="payform-delivery-address"> Endereço de Entrega: </span>
      <br>
      <i>{{delivery_address}}{{complement}}</i>
    </div>
    <div class="padding" ng-if="orderDetail.notes">
      <span class="payform-freight-cost">Observações</span>
      <br>
      <i>{{orderDetail.notes}}</i>
    </div>
  </ion-content>
</ion-view>