<ion-view view-title="Fale Conosco" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon idl-menu-button" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content idl-toggle-overflow-scroll>
    <form name="contactForm">
      <div class="list">
        <div class="item">
          <div class="item-contact-title">
            Está gostando do aplicativo?
          </div>
          <br>
          <div align="center">
            <div ng-if="isOldAndroid" class="cc-selector">

              <ion-radio class="user-choose icon fa fa-frown-o" ng-class="cc-selector"
                         ng-model="contactData.rating" ng-value="1" icon="" required></ion-radio>

              <ion-radio class="user-choose icon fa fa-meh-o" ng-class="cc-selector"
                         ng-model="contactData.rating" ng-value="2" icon=""></ion-radio>

              <ion-radio class="user-choose icon fa fa-smile-o" ng-class="cc-selector"
                         ng-model="contactData.rating" ng-value="3" icon=""></ion-radio>

            </div>

            <div ng-if="!isOldAndroid" class="cc-selector">

              <input id="1" type="radio" name="1" ng-model="contactData.rating" ng-value="1"
                     ng-class="cc-selector" required>
              <label class="user-choose icon fa fa-frown-o" for="1"></label>

              <input id="2" type="radio" name="2" ng-model="contactData.rating" ng-value="2"
                     ng-class="cc-selector">
              <label class="user-choose icon fa fa-meh-o" for="2"></label>

              <input id="3" type="radio" name="3" ng-model="contactData.rating" ng-value="3"
                     ng-class="cc-selector">
              <label class="user-choose icon fa fa-smile-o" for="3"></label>

            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-contact-title padding-bottom">Deseja nos dizer algo?</div>
          <br>
          <input ng-enter="nextInput('contactEmail')" type="text"
                 class="item-contact-input-text padding-bottom" ng-model="contactData.name"
                 placeholder="Qual é seu Nome?" required>
          <div class="item-contact-divider padding">-</div>
          <input id="contactEmail" maxlength="256" ng-enter="nextInput('contactMessage')" type="email"
                 class="item-contact-input-text padding-bottom" ng-model="contactData.email"
                 placeholder="Qual é seu E-mail?" required>
          <div class="item-contact-divider padding">-</div>
          <textarea id="contactMessage" maxlength="256" rows="5" class="item-contact-input-textarea"
                    ng-model="contactData.message"
                    placeholder="Sinta-se a vontade para nos dizer o que está pensando." required></textarea>
        </div>
      </div>

      <div class="padding">
        <button ng-click="submit()" type="submit" id="submit" ng-disabled="contactForm.$invalid"
                class="button button-block button-positive ">Enviar
        </button>
      </div>

      <ion-item class="item-borderless hide-on-keyboard-open">
      </ion-item>
    </form>
  </ion-content>
</ion-view>
