<ion-modal-view>
  <ion-header-bar class="idl-bar">
    <h3 class="title idl-title">Fale Conosco</h3>
    <div class="buttons">
      <button
        class="button button-clear idl-button"
        ng-click="closecontactRestaurant()"
      >
        Cancelar
      </button>
    </div>
  </ion-header-bar>
  <ion-content idl-toggle-overflow-scroll>
    <form
      name="contactForm"
      enctype="application/x-www-form-urlencoded"
      method="POST"
    >
      <div class="list">
        <div
          class="item-contact-title padding-bottom"
          style="text-align: center; padding: 10px;"
        >
          Está gostando do nosso delivery?
        </div>
        <br />
        <div class="cc-selector" style="text-align: center;">
          <ion-radio
            ng-repeat="item in EmojisOptions"
            class="{{item.classname}}"
            ng-value="item.value"
            ng-model="SelectEmoji.selectEmoji"
            id="SelectEmoji.selectEmoji"
            ng-change="getElementEmojiContact(item)"
          ></ion-radio>
        </div>

        <div style="padding: 10px; margin-top: 20px;">
          <div>
            <strong>Nome:</strong
            ><span style="margin-left: 5px;">{{userProfileData.name}}</span>
          </div>
          <div>
            <strong>E-mail:</strong
            ><span style="margin-left: 5px;">{{emailclientprofile}}</span>
          </div>
          <textarea
            maxlength="256"
            rows="5"
            class="item-contact-input-textarea"
            id="contactMessage"
            ng-model="message"
            placeholder="Sinta-se a vontade para nos dizer o que está pensando."
            required
            style="margin-top: 30px;"
          ></textarea>
        </div>
      </div>

      <div class="padding">
        <button
        style="width: 100%;"
          ng-click="sendemail()"
          type="submit"
          id="submit"
          class="button button-positive"
        >
          Enviar
        </button>
      </div>

      <ion-item class="item-borderless hide-on-keyboard-open"> </ion-item>
    </form>
  </ion-content>
</ion-modal-view>
