<ion-view hide-back-button="true">
  <ion-nav-title>{{restaurant.name}}</ion-nav-title>

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon idl-menu-button" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-search idl-menu-button" ng-click="openSearchModal()"></button>
  </ion-nav-buttons>

  <ion-content ng-hide="isDeprecated" id="has-header-mob">
    <ion-refresher pulling-text="Deslize para Atualizar" on-refresh="doRefresh()"></ion-refresher>
    <div>
      <div class="restaurant-details padding">
        <div class="restaurant-image">
          <img class="restaurant-details-logo" ng-src="{{restaurant.image_url}}">
        </div>

        <div class="restaurant-details-icons">
          <span
            ng-class="{'restaurant-status-open-label': restaurantStatus, 'restaurant-status-closed-label': !restaurantStatus}"
            ng-bind="restaurantStatusLabel">
          </span>
          <br>
          <div class="restaurant-opens-message" ng-if="opensMessage">
            {{opensMessage}}
            <br>
          </div>
          <strong
            ng-if="restaurant.min_delivery_time && restaurant.min_delivery_time != '0' || restaurant.delivery_time && restaurant.delivery_time != '0'">Tempo
            de Entrega: </strong><br /><span
            ng-if="restaurant.min_delivery_time && restaurant.min_delivery_time != '0'">{{restaurant.min_delivery_time}}-</span><span
            ng-if="restaurant.delivery_time && restaurant.delivery_time != '0'">{{restaurant.delivery_time}}</span>
        </div>
        <i ng-click="favorite(!isFavorite)" ng-if="isFavorite && isMarketPlace" align='left' style='margin-right: 50px;'
          class="idl-demo-info-button icon ion-ios-heart restaurant-info-icon-chevron-right" align="right"></i>
        <i ng-click="favorite(!isFavorite)" ng-if="!isFavorite && isMarketPlace" align='left'
          style='margin-right: 50px;'
          class="idl-demo-info-button icon ion-ios-heart-outline restaurant-info-icon-chevron-right" align="right"></i>
        <i ng-click="openRestaurantDetails()"
          class="idl-demo-info-button icon ion-ios-information-outline restaurant-info-icon-chevron-right"></i>

        <div ng-if="!currentAddress && !isOldAndroid" align="right" class="layout-buttons">
          <button class="idl-demo-layout-button button idl-products-layout-button button-small icon fa"
            aria-hidden="true"
            ng-class="{'fa-th-large': productsLayout === 'list', 'fa-list': productsLayout === 'grid'}"
            ng-click="switchProductsLayout()"></button>
        </div>

      </div>

      <div class="restaurant-info-padding"></div>

      <div ng-if="currentAddress" class="text-info idl-select-address">
        <strong class="current-address-label">ENDEREÇO DE ENTREGA:</strong>
        <br>
        <div class="address-list-current-div">
          <div class="select-address" ng-click="changeAddress()">
            {{currentAddress.street + ', ' + currentAddress.number}}<br>{{currentAddress.neighborhood.name}}
          </div>
          <button ng-if="!isOldAndroid"
            class="idl-demo-layout-button idl-products-layout-button products-layout-buttons button button-small icon fa"
            aria-hidden="true"
            ng-class="{'fa-th-large': productsLayout === 'list', 'fa-list': productsLayout === 'grid'}"
            ng-click="switchProductsLayout()"></button>
        </div>
      </div>

      <div class="select-address-padding"></div>

      <div class="list product-list">

        <div class="categories" ng-repeat="category in productsCategories track by category.id"
          ng-if="category.products != ''">
          <div id="category{{category.id}}" class="item item-divider idl-divider category-divider"
            ng-click="toggleCategory(category, $index)" ng-class="{active: isCategoryShown(category)}">
            <span class="category-list-name">{{category.name}}</span>
            <i ng-class="isCategoryShown(category) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"
              class="button-icon category-list-button icon"></i>
          </div>

          <div class="animate-hide" ng-show="productsLayout == 'list'">
            <a class="item item-icon-right product-list-item"
              ng-repeat="product in category.products track by product.id" ng-show="isCategoryShown(category)"
              ng-click="startOrder(product.id)">
              <div class="product-list-image-div">
                <img class="product-list-image" ng-src="{{product.cover_image}}" />
                <span class="idl-demo-list-item product-list-item-name idl-list-item">
                  {{product.name}}
                </span>
                <div class="product-list-item-description idl-list-item-description">
                  {{product.description}}
                </div>
              </div>
              <div class="col-20">

                <p class="icon product-list-item-price idl-list-item-description" ng-if="!product.max_price"
                  style="margin-bottom:10px">A partir de <br><br>
                </p>

                <span class="icon product-list-item-price" ng-if="product.max_price">
                  <span>
                    De: <span style="text-decoration: line-through">R$ {{product.max_price | number:2 }}</span>
                    <br>
                    <br>
                    <br>
                  </span>
                </span>
              </div>

              <div class="icon product-list-item-price-value">
                <span class="idl-price product-list-item-price-value">
                  <br>R$ {{product.price | number:2 }}
                  <br>
                  <br>
                </span>
              </div>
       
          </a>
        </div>

        <div class="row products-grid animate-hide" ng-show="productsLayout == 'grid'">
          <div class="col col-33" ng-repeat="product in category.products track by product.id"
            ng-show="isCategoryShown(category)" ng-click="startOrder(product.id)">
            <div align="center" class="">
              <div>
                <img ng-src="{{product.cover_image  || 'https://ideliveryapp.com.br/images-idl/no-img-app.png'}}"
                  height="93px" class="product-list-image-idl" />
              </div>
              <span class="idl-demo-list-item product-list-item-name-grid idl-list-item">{{product.name}}</span>
              <br />
              <span class="idl-price product-list-item-price-value-grid">R$ {{product.price | number:2 }}</span>
            </div>

          </div>
        </div>
      </div>
    </div>
    </div>
  </ion-content>

  <div ng-if="currentAddress && !isDeprecated" ng-click="openCart()" class="android-cart-button idl-cart-button">
    <i class="icon ion-android-cart android-cart-icon idl-title"></i>
    <i class="cart-counter idl-cart-counter">{{cart.length}}</i>
  </div>

  <div ng-if="isDeprecated" align="center" class="centered" style="color: grey">
    <label>
      A versÃ£o do aplicativo estÃ¡ desatualizada.
    </label>
    <br><br>
    <button ng-click="openAppMarket()" class="button button-positive">
      Atualizar
    </button>
  </div>
</ion-view>