<ion-modal-view>
  <ion-header-bar class="idl-bar">
    <h1 class="title idl-title">Detalhes</h1>
    <div class="buttons">
      <button class="button button-clear idl-button" ng-click="closeRestaurantDetails()">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div align="center" class="item establishment-img">
      <img class="establishment-logo" ng-src="{{restaurant.image_url}}">
    </div>
    <div class="item item-divider idl-divider">
      <span class="category-list-name">{{restaurant.name}}</span>
    </div>
    <div class="item item-icon-left establishment-address-details">
      <div class="establishment-address-div">
        <i class="icon ion-location idl-address-pin"></i>
        <span class="establishment-address-label" ng-click="launchNav(restaurant)">{{formatedMapLink}}</span>
      </div>
    </div>
    <div class="list">

      <div class="item establishment-schedule" ng-if="showSchedule">
        <i class="icon fa fa-clock-o idl-establishment-schedule-icon"> <span
          class="establishment-schedule-title">Horários de Delivery</span> </i>
        <br><br>
        <div ng-repeat="schedule in restaurant.schedules" class="establishment-schedule-label">
          <div class="schedule-div">
            <span class="establishment-schedule-day-label">{{schedule.day}}</span>:
            <span class="establishment-schedule-shift-label"
                  ng-if="schedule.shift !== 1 && schedule.shift !== 2"> <i class="schedule-shift-1">{{toggleSchedule(schedule.shift)}}</i></span>
            <span class="establishment-schedule-shift-label" ng-if="schedule.shift === 1"> <i
              class="schedule-shift-2">{{schedule.begin_shift_1}} às {{schedule.end_shift_1}}</i></span>
            <span class="establishment-schedule-shift-label" ng-if="schedule.shift === 2"> <i
              class="schedule-shift-3">{{schedule.begin_shift_1}} às {{schedule.end_shift_1}}</i> <br> <i
              class="schedule-shift-3">{{schedule.begin_shift_2}} às {{schedule.end_shift_2}}</i> <br></span>
          </div>
          <div class="schedule-divider"></div>
        </div>
      </div>

      <div class="item establishment-description" ng-if="restaurant.description">
        <p class="establishment-description-text">{{restaurant.description}}</p>
      </div>

      <a ng-click="openLinkRedirect(restaurant.website)" class="item item-icon-left establishment-website"
         ng-if="restaurant.website">
        <i class="icon ion-home idl-establishment-website-icon"></i>
        <span class="establishment-website-label">{{restaurant.website}}</span>
      </a>

      <a ng-click="openEmail(restaurant.email)" class="item item-icon-left establishment-email"
         ng-if="restaurant.email">
        <i class="icon ion-email idl-establishment-email-icon"></i>
        <span class="establishment-website-label">{{restaurant.email}}</span>
      </a>

      <div ng-if="phones && phones.length != 0" ng-repeat="phone in phones">
        <a class="item item-icon-left establishment-phone" ng-click="openPhone(phone.phone)">
          <i class="icon ion-ios-telephone idl-establishment-phone-icon"></i>
          <span class="establishment-phone-label">{{phone.phone}}</span>
        </a>
      </div>
      <div style="padding: 10px;">
      <button ng-click="opencontactRestaurant()" type="submit" id="submit" ng-disabled="contactForm.$invalid"
                class="button button-block button-positive "><div class="sidemenu-item-icon">
                  <i class="icon fa fa-inbox idl-icon"></i>
                </div> Fale Conosco
        </button>
      </div>
      <div class="item establishment-payment">
        <i class="icon fa fa-credit-card-alt idl-establishment-payment-icon"> <span
          class="establishment-payment-label">Cartões Aceitos</span> </i>
        <br>
        <i class="item item-icon-left establishment-payment-cards"
           ng-repeat="card in restaurant.accepted_cards">
          <img ng-src="{{card.flag_img}}" class="icon establishment-payment-img"/>
          <span class="establishment-payment-cards-label padding">{{card.name}}</span>
        </i>
      </div>
  </ion-content>
</ion-modal-view>
