<ion-modal-view>
  <ion-header-bar class="idl-bar">
    <h1 class="title idl-title">Pesquisar</h1>
    <div class="buttons">
      <button class="button button-clear idl-button" ng-click="closeSearchModal()">Cancelar</button>
    </div>
  </ion-header-bar>
  <ion-content idl-toggle-overflow-scroll>
    <div class="item-input-inset search-content">
      <label class="item-input-wrapper">
        <i class="icon ion-search item-input-wrappe"></i>
        <input type="search" ng-model="pattern" ng-change="searchResult(pattern, allProducts)"
               ng-model-options="{ debounce: 600 }" placeholder="Pesquisar">
      </label>
    </div>

    <div class="empty-cart" ng-show="fuseResult.length === 0 || !fuseResult">
      <a>Nenhum resultado encontrado para "{{pattern}}"</a>
    </div>
    <div class="product-list">
      <a class="item item-icon-right product-list-item" ng-repeat="product in fuseResult | orderBy: 'name'"
         ng-click="closeSearchModal(product.id)">
        <div class="product-list-image-div">
          <img class="product-list-image" ng-src="{{product.cover_image}}"/>
          <span class="product-list-item-name idl-list-item">
            {{product.name}}
          </span>
          <div class="product-list-item-description idl-list-item-description">
            {{product.description}}
          </div>
        </div>
        <div class="col-20">
        
          <p class="icon product-list-item-price idl-list-item-description" ng-if="!product.max_price"
            style="margin-bottom:10px">A partir de <br><br>
          </p>
        
          <span class="icon product-list-item-price" ng-if="product.max_price">
            <span>
              De: <span style="text-decoration: line-through">R$ {{product.max_price | number:2 }}</span>
              <br>
              <br>
              <br>
            </span>
          </span>
        </div>
        <div class="icon product-list-item-price-value">
          <span
            class="idl-price product-list-item-price-value"><br><br>R$ {{product.price | number:2 }}<br><br></span>
        </div>
      </a>
    </div>
  </ion-content>
</ion-modal-view>
