<ion-view view-title="Seus Dados" cache-view="false" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon idl-menu-button" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content>
    <form name="userDataForm" ng-submit="saveChanges(userData)">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nome</span>
          <input required type="text" ng-model="userData.full_name" placeholder="Nome">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">E-mail</span>
          <input required="" type="email" ng-model="userData.email" placeholder="E-mail">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Telefone</span>
          <input required type="tel" ng-model="userData.phone" placeholder="Telefone" ui-br-phone-number>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Telefone 2 (Opcional)</span>
          <input type="tel" ng-model="userData.phone2" placeholder="Telefone 2 (Opcional)" ui-br-phone-number>
        </label>
        <div class="padding">
          <button class="button button-block idl-button" type="submit"
                  ng-disabled="userDataForm.$invalid">Alterar
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
