<ion-view hide-back-button="true" view-title="Avaliações" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="Avaliações Pendentes" icon-on="ion-star" icon-off="ion-ios-star-outline">
      <ion-nav-view name="pending-ratings-tab">
        <ion-content>
          <h4>Você não possui avaliações pedentes.</h4>
        </ion-content>
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="Avaliações Anteriores" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
      <ion-nav-view name="previous-ratings-tab">
        <ion-content>
          <div class="list card">
            <div class="item item-avatar">
              <img src="img/ionic.png">
              <h2>Primo Piato</h2>
              <p>Aberto</p>
            </div>
            <div ng-controller="RatingController as rating" class="item item-body">
              <div star-rating ng-model="rating.rating1" max="5"
                   on-rating-select="rating.rateFunction(rating)"></div>
            </div>
          </div>
        </ion-content>
      </ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>
