<ion-view view-title="Busca" cache-view="false" can-swipe-back="false">
  <ion-content>
    <ion-scroll
      id="id-scroll-deway"
      overflow-scroll="false"
      class="resize-scroll"
    >
      <form name="searchAddressForm" ng-submit="setDeliveryAddressByName()">
        <div class="list">
          <label
            class="item-separation item item-input item-floating-label uf-search-cep"
            ng-click="openStatesModal()"
          >
            <span class="input-labeel"
              >UF <span style="color: red;">*</span></span
            >
            <input
              required
              ng-readonly="true"
              class="input-address"
              placeholder="UF *"
              type="text"
              ng-model="selectedStateName"
            />
          </label>
          <label
            ng-if="selectedStateName"
            class="item item-input item-floating-label"
            ng-click="openCitiesModal()"
          >
            <span class="input-labeel"
              >Cidade <span style="color: red;">*</span></span
            >
            <input
              required
              ng-readonly="true"
              class="input-address"
              placeholder="Cidade *"
              type="text"
              ng-model="selectedCityName"
            />
          </label>
          <label
            ng-if="selectedCityName"
            class="item item-input item-floating-label"
            ng-click="openNeighborhoodsModal()"
          >
            <span class="input-labeel"
              >Bairro <span style="color: red;">*</span></span
            >
            <input
              required
              ng-readonly="true"
              class="input-address"
              placeholder="Bairro *"
              type="text"
              ng-model="selectedNeighborhoodName"
            />
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-labeel"
              >Endereço <span style="color: red;">*</span></span
            >
            <input
              ng-enter="nextInput('addressNumber')"
              required
              placeholder="Endereço *"
              type="text"
              ng-model="searchAddressCEPData.formatted_address"
            />
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-labeel"
              >Número <span style="color: red;">*</span></span
            >
            <input
              ng-enter="nextInput('addressComplement')"
              required
              id="addressNumber"
              placeholder="Digite aqui seu número (obrigatório)"
              type="number"
              oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')"
              ng-model="searchAddressCEPData.number"
            />
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-labeel"
              >Ponto de Referência <span style="color: red;">*</span></span
            >
            <input
              ng-enter="nextInput('addressCEP')"
              class="required-input"
              required
              id="addressRefPoint"
              placeholder="Digite aqui um ponto de referência *"
              type="text"
              ng-model="searchAddressCEPData.reference_point"
            />
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-labeel"
              >CEP <span style="color: red;">*</span></span
            >
            <input
              ng-enter="nextInput('addressButton')"
              required
              id="addressCEP"
              placeholder="CEP *"
              type="tel"
              ng-model="searchAddressCEPData.postal_code"
              ui-mask="99999-999"
              ui-mask-placeholder
            />
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-labeel">Complemento (Opcional)</span>
            <input
              ng-enter="nextInput('addressRefPoint')"
              id="addressComplement"
              placeholder="Digite aqui seu complemento (Opcional)"
              type="text"
              ng-model="searchAddressCEPData.complement"
            />
          </label>
        </div>
        <div style="align-items: center; padding: 10px;">
          <span>Campo Obrigatório</span>
          <span style="color: red; font-size: 20px;">*</span>
        </div>
        <div class="padding">
          <button
            id="addressButton"
            class="button button-block idl-button"
            type="submit"
            ng-disabled="searchAddressForm.$invalid"
          >
            Cadastrar Endereço
          </button>
        </div>
        <ion-item class="item-borderless hide-on-keyboard-open"> </ion-item>
      </form>
    </ion-scroll>
  </ion-content>
</ion-view>
