<ion-view view-title="Lista de Endereços" cache-view="false" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon idl-menu-button" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <div class="buttons">
      <button class="button button-positive button-icon icon ion-trash-b"
              ng-click="delOption.showDelete = !delOption.showDelete; delOption.showReorder = false"></button>
    </div>
  </ion-nav-buttons>

  <div ng-click="addNewAddress()" class="android-cart-button idl-cart-button idl-sign-buttons-v2">
    <i class="icon ion-android-add android-cart-icon idl-title"></i>
  </div>

  <ion-content>
    <div align="center" class="padding span-andress-text-top span-andress-text-top-list" style="color: grey">
      <label>
        Para escolher o endereço de entrega do seu próximo pedido, basta clicar em algum abaixo ou cadastrar
        outro.
      </label>
    </div>
    <ion-list show-delete="delOption.showDelete">
      <div class="item item-divider idl-divider">
        Seus endereços cadastrados
      </div>
      <div class="empty-cart" ng-show="addressList.length == 0">
        <a>Nenhum endereço cadastrado</a>
      </div>
      <ion-item class="idl-list-item item-remove-animate" ng-repeat="address in addressList | orderBy:'-id'"
                ng-click="setCurrentAddress(address)" ng-disabled="!address.attending_status.active"
                ng-class="{'disabled': !address.attending_status.active}">
        <div class="">
          <em class="address-list-address">{{address.street + ", " + address.number + ""}}</em>
        </div>
        <p class="idl-list-item-description">{{address.neighborhood.name}}, CEP {{address.cep | brCep}},
          {{address.city + " - " + address.state}}
        </p>
        <label ng-if="!address.attending_status.active" class="address-list-deactive-address">{{address.attending_status.message}}</label>

        <ion-delete-button class="idl-delete-button ion-trash-b" ng-click="onItemDelete(address)">
        </ion-delete-button>

        <ion-option-button class="button-positive" ng-click="delItem(address)">
          Apagar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
