<ion-view view-title="Endereço de Entrega" cache-view="false" hide-back-button="hideNavBackButton"
          can-swipe-back="false">
  <ion-content>
    <div class="padding buttons-search-cep">
      <button ng-click="openCEPSearchModal()" class="button icon-left ion-search button-block idl-button">
        Buscar por CEP
      </button>
      <button ng-click="addressSearch()" class="button icon-left ion-navigate button-block idl-button">
        Localize-me Agora
      </button>
    </div>
  </ion-content>
</ion-view>
