<ion-modal-view>
  <ion-header-bar class="idl-bar">
    <h1 class="title idl-title">Cidade</h1>
    <div class="buttons">
      <button class="button button-clear idl-button" ng-click="closeCitiesModal()">Cancelar</button>
    </div>
  </ion-header-bar>
  <div align="center" class="bar bar-subheader" style="color: grey">
    <label>
      <strong>SELECIONE UMA DAS CIDADES QUE ATENDEMOS</strong>
    </label>
    <br>
  </div>
  <ion-content class="has-subheader">
    <ion-list>
      <ion-item ng-repeat=" city in stateCities | localeSensitiveComparator">
        <label class="item-radio">
          <input type="radio" ng-value="city.id" ng-model="currentCity"
                 ng-click="closeCitiesModal(city.name, city.id)">
          <div>
            {{city.name}}
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
