<ion-modal-view>
  <ion-header-bar class="idl-bar">
    <h1 class="title idl-title">Bairro</h1>
    <div class="buttons">
      <button class="button button-clear idl-button" ng-click="closeNeighborhoodsModal()">Cancelar</button>
    </div>
  </ion-header-bar>
  <div align="center" class="bar bar-subheader" style="color: grey">
    <label>
      <strong>SELECIONE UM DOS BAIRROS QUE ATENDEMOS</strong>
    </label>
    <br>
  </div>
  <ion-content class="has-subheader">
    <ion-list class="list-neighborhood">
      <ion-item ng-repeat=" neighborhood in neighborhoods | localeSensitiveComparator">
        <label class="item-radio">
          <input type="radio" ng-value="neighborhood.id" ng-model="currentNeighborhood"
                 ng-click="closeNeighborhoodsModal(neighborhood.name, neighborhood.id)">
          <div>{{neighborhood.name}}</div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
