<ion-modal-view>
  <ion-header-bar class="idl-bar">
    <h1 class="title idl-title">Adicione</h1>
    <div class="buttons">
      <button class="button button-clear idl-button" ng-click="closeReferencePointModal()">Cancelar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="refPointForm" ng-submit="storageDeliveryAddress(refPoint)">
      <label class="item refecent-point-modal-text">
        <div align="center">Adicione um Ponto de Referência para facilitar sua entrega.</div>
      </label>
      <div class="padding">
        <label class="item item-input">
          <input required type="text" id="referecenPoint" ng-model="refPoint"
                 placeholder="Ponto de Referência">
        </label>
        <div class="padding">
          <button class="button button-block idl-button" type="submit"
                  ng-disabled="refPointForm.$invalid">Salvar
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
