<ion-view view-title="Selecione a Região" cache-view="false" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon idl-menu-button" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-scroll style="height: 100%">
      <div class="card">
        <div class="item item-divider">
          Onde você quer receber seu pedido?
        </div>
        <div class="item item-text-wrap">
          Encontraremos as unidades que entregam onde você estiver.
        </div>
      </div>
      <form name="searchAddressNameForm" ng-submit="setRegion()">
        <div class="list">
          <label class="item item-input item-floating-label" ng-click="openStatesModal()">
            <span class="input-label">UF</span>
            <input required ng-readonly="true" class="input-address" placeholder="UF" type="text"
                   ng-model="selectedStateName">
          </label>
          <label ng-if="selectedStateName" class="item item-input item-floating-label"
                 ng-click="openCitiesModal()">
            <span class="input-label">Cidade</span>
            <input required ng-readonly="true" class="input-address" placeholder="Cidade" type="text"
                   ng-model="selectedCityName">
          </label>
          <label ng-if="selectedCityName" class="item item-input item-floating-label"
                 ng-click="openNeighborhoodsModal()">
            <span class="input-label">Bairro</span>
            <input required ng-readonly="true" class="input-address" placeholder="Bairro" type="text"
                   ng-model="selectedNeighborhoodName">
          </label>
        </div>
        <div class="padding">
          <button class="button button-block idl-button" type="submit"
                  ng-disabled="searchAddressNameForm.$invalid">Selecionar Região
          </button>
        </div>
      </form>
    </ion-scroll>
  </ion-content>
</ion-view>
