<ion-modal-view>
  <ion-header-bar class="idl-bar">
    <h1 class="title idl-title">Busca</h1>
    <div class="buttons">
      <button class="button button-clear idl-button" ng-click="closeCEPSearchModal()">Cancelar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="searchCEPForm" ng-submit="addressSearchCEP(searchCEPData)">
      <div>
        <label class="item-separation item item-input item-floating-label">
          <span class="input-label">CEP</span>
          <input ng-enter="nextInput('searchNumber')" required id="searchCep" placeholder="CEP" type="tel"
                 ng-model="searchCEPData.CEP" ui-br-cep-mask>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Número</span>
          <input ng-enter="nextInput('searchButton')" required id="searchNumber" placeholder="Número"
          type="number" oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')" ng-model="searchCEPData.number">
        </label>
      </div>
      <div class="padding">
        <button id="searchButton" class="button button-block idl-button" type="submit"
                ng-disabled="searchCEPForm.$invalid">Buscar
        </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
