<ion-modal-view>
  <ion-header-bar class="idl-bar">
    <h1 class="title idl-title">UF</h1>
    <div class="buttons">
      <button class="button button-clear idl-button" ng-click="closeStatesModal()">Cancelar</button>
    </div>
  </ion-header-bar>
  <div align="center" class="bar bar-subheader" style="color: grey">
    <label>
      <strong>SELECIONE UM DOS ESTADOS QUE ATENDEMOS</strong>
    </label>
  </div>
  <ion-content class="has-subheader">
    <ion-list>
      <ion-item ng-repeat=" state in states | localeSensitiveComparator">
        <label class="item-radio">
          <input type="radio" ng-value="state.id" ng-model="currentState"
                 ng-click="closeStatesModal(state.name, state.id, state.short_name)">
          <div>{{state.name}}</div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
