<ion-view cache-view="true">
  <ion-nav-title>{{currentComposition.name}}</ion-nav-title>
  <ion-content class="has-footer">
    <ion-slide-box pager-click="navSlide(index)" does-continue="true" auto-play="true">
      <ion-slide  ng-repeat="image in image_array">
        <div ng-if="product.cover_image" align="center" class="item pre-order-product-img-div">
          <img class="pre-order-product-img" id="slider-photo" ng-src="{{image}}" ng-click="viewer($index)">
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="list">
      <div class="categories">
        <div class="item item-divider idl-divider">
          {{currentComposition.description}} (Mínimo: {{currentComposition.min}} / Máximo:
          {{currentComposition.max}})
        </div>
        <li class="item item-checkbox" ng-repeat="composition in currentComposition.supplements">
          <label class="checkbox">
            <input type="checkbox" ng-model="comp.checked" ng-true-value="{{composition}}"
                   ng-checked="selection.model == '{{composition.id}}'"
                   ng-click="selection.model = '{{composition.id}}'">
          </label>
          <i class="composition-name">{{composition.name}}</i>
          <i class="idl-price pull-right">
            R$ {{composition.price| number:2 }}
          </i>
          <br>
          <i class="complement-list-item-description idl-list-item-description">{{composition.description}}
          </i>
        </li>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer idl-bar ">
    <div ng-click="nextComposition()" class="title idl-title">
      PRÓXIMO
    </div>
  </div>
</ion-view>
