<ion-view cache-view="true">
  <ion-nav-title>{{currentComposition.name}}</ion-nav-title>
  <ion-content class="has-footer" idl-toggle-overflow-scroll>
    <ion-slide-box
      pager-click="navSlide(index)"
      does-continue="true"
      auto-play="true"
    >
      <ion-slide ng-repeat="image in image_array">
        <div
          ng-if="product.cover_image"
          align="center"
          class="item pre-order-product-img-div"
        >
          <img
            class="pre-order-product-img"
            id="slider-photo"
            ng-src="{{image}}"
            ng-click="viewer($index)"
          />
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="list">
      <div class="categories">
        <div class="item item-divider idl-divider">
          {{currentComposition.description}} (Mínimo: {{currentComposition.min}}
          / Máximo: {{currentComposition.max}})
        </div>
        <li
          class="item"
          ng-repeat="comp in currentComposition.supplements track by $index"
        >
          <div class="counter-complements pull-left col">
            <div
              class="row row-center counter-complements-increase-decrease-buttons"
            >
              <button
                class="button button-small button-assertive icon ion-minus col col-minus decrease-items"
                ng-click="decreaseItems($index)"
              ></button>
              <div class="col col-counter row">
                <h2 class="title col col-center">{{comp.quantity}}</h2>
              </div>
              <button
                class="button button-small button-balanced icon ion-plus col col-plus duplicate-items"
                ng-click="duplicateItems($index)"
              ></button>
            </div>
          </div>

          <i class="composition-name">{{comp.name}}</i>
          <i class="idl-price pull-right" style="padding-left: 5px !important;">
            R$ {{comp.price | number:2 }}
          </i>
          <br />
          <i class="complement-list-item-description idl-list-item-description">
            {{comp.description}}
          </i>
        </li>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar bar-footer idl-bar">
    <div ng-click="nextComposition()" class="title idl-title">
      PRÓXIMO
    </div>
  </ion-footer-bar>
</ion-view>
