<ion-modal-view>
  <ion-header-bar class="idl-bar">
    <h3 class="title idl-title">Seu Telefone</h3>
    <div class="buttons">
      <button class="button button-clear idl-button" ng-click="closeFacebookLoginPhoneModal()">Cancelar</button>
    </div>
  </ion-header-bar>
  <ion-content idl-toggle-overflow-scroll>
    <div align="center" class="padding" style="color: grey">
      <label>
        <strong>Para finalizar seu cadastro, preencha o número do seu telefone(preferencialmente do seu
          celular).</strong>
      </label>
    </div>
    <form name="contactPhoneForm" ng-submit="sendFacebookLoginPhone(signUpData)">
      <div class="padding">
        <label class="item item-input">
          <input required id="userEmailFacebook" type="email" ng-model="signUpData.email"
                 placeholder="E-mail">
        </label>
        <label class="item item-input">
          <input id="userPhoneFacebook" type="tel" ng-model="signUpData.userPhone"
                 placeholder="Telefone 1" ui-mask="(99)9999-9999?9" ui-mask-placeholder>
        </label>
        <label class="item item-input">
          <input id="userPhoneFacebookOptional" type="tel" ng-model="signUpData.userPhone2"
                 placeholder="Telefone 2 (Opcional)" ui-mask="(99)9999-9999?9" ui-mask-placeholder>
        </label>
        <li class="item item-checkbox">
          <a>Aceito os Termos de Uso</a>
          <label class="checkbox">
            <input class="idl-terms-checkbox" type="checkbox" ng-model="signUpData.useTerms">
          </label>
        </li>
        <div align="center" ng-click="openTermsofuser()" class="use-terms">
          <br>
          <a>Termos de Uso</a>
        </div>
        <div class="padding">
          <button class="button button-block idl-sign-buttons idl-sign-buttons-v2" type="submit">Cadastrar
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
