<ion-modal-view>
  <ion-header-bar class="idl-bar">
    <h1 class="title idl-title">Recuperar Senha</h1>
    <div class="buttons">
      <button class="button button-clear idl-button" ng-click="closeForgotPasswordModal()">Cancelar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="forgotPasswordForm" ng-submit="sendRecoveryPasswordEmail(forgotPassword.email)">
      <div class="padding">
        <label class="text-info padding">
          <div align="center">Esqueceu sua senha? Digite o endereço de e-mail cadastrado. Enviaremos uma senha
            provisória para o seu e-mail.
          </div>
        </label>
        <div class="padding">
          <label class="item item-input">
            <input required type="email" id="forgotPasswordEmail" ng-model="forgotPassword.email"
                   placeholder="E-mail da Conta">
          </label>
        </div>
        <div class="padding">
          <button class="button button-block idl-sign-buttons" type="submit"
                  ng-disabled="forgotPasswordForm.$invalid">Redefinir Senha
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
