<ion-view view-title="" cache-view="false" hide-nav-bar="true">
  <ion-content ng-hide="isDeprecated" class="background-login" style="overflow-y:hidden;">
    <div class="logo-login">
      <img src="img/logo.png" id="img-client-css">
    </div>
    <div class="main-buttons">
      <div class="login-buttons padding">
        <button id="proteinnow-button" class="button idl-sign-buttons-buttons-bread-burger idl-signin-button idl-demo-login-button"
                ng-click="openSignInModal()">
          Efetuar Login
        </button>
        <button id="proteinnow-button" class="button idl-sign-buttons-buttons-bread-burger idl-signup-button" ng-click="openSignUpModal()">
          Cadastre-se
        </button>
        <button id="buttonApple" class="button button-block button-apple button-outline" ng-click="doAppleLogin()">
          <div style="width: 100%;height: auto;display: flex;justify-content: center;align-items: center;">
            <img src="img/apple-icon.png" style="height: 30px;"/>
            <strong style="font-size: 16px;
            color: black;
            margin-left: 10px;
            margin-top: 4px;">Continuar com a Apple</strong>
          </div>
        </button>
        <button id="fabgas" class="button button-block button-facebook button-outline" ng-click="doFacebookLogin()" style="height: 56px;">
          <div style="width: 100%;height: auto;display: flex;justify-content: center;align-items: center;">
            <img src="img/face-icon.png" style="height: 30px;"/>
            <strong style="font-size: 16px;
            color: white;
            margin-left: 10px;">Continuar com o Facebook</strong>
          </div>
        </button>
        <!-- <button id="fabgas" class="button button-block button-facebook button-outline" ng-click="doFacebookLogin()" style="height: 56px;">
          <div style="width: 100%;height: auto;display: flex;justify-content: center;align-items: center;">
            <span style="font-size: 16px;color: white;">Continuar com o Facebook</h6>
          </div>
        </button> -->
        <button class="button button-block idl-login-later button-clear" ng-click="doLoginLater()">
          <strong>Efetuar Login Depois</strong>
        </button>
      </div>
    </div>
  </ion-content>

  <div ng-if="isDeprecated" align="center" class="centered" style="color: grey">
    <label>A versão do aplicativo está desatualizada.</label>
    <br><br>
    <button ng-click="openAppMarket()" class="button button-positive">
      Atualizar
    </button>
  </div>

</ion-view>
