<ion-modal-view>
  <ion-header-bar class="idl-bar">
    <h1 class="title idl-title">Cadastrar-se</h1>
    <div class="buttons">
      <button class="button button-clear idl-button" ng-click="closeSignUpModal()">Cancelar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="signUpForm" ng-submit="doSignUp()">
      <div class="list list-inset">
        <label class="item item-input padding">
          <input ng-enter="nextInput('signupEmail')" type="text" ng-model="signUpData.name"
                 placeholder="Nome Completo" maxlength="50" required>
        </label>
        <label class="item item-input padding">
          <input ng-enter="nextInput('signupPhone')" id="signupEmail" type="email" ng-model="signUpData.email"
                 placeholder="E-mail" maxlength="50" required>
        </label>
        <label class="item item-input padding">
          <input ng-enter="nextInput('signupPhoneOptional')" id="signupPhone" type="tel"
                 ng-model="signUpData.phone" placeholder="Telefone 1" ui-br-phone-number
                 ui-mask-placeholder required>
        </label>
        <label class="item item-input padding">
          <input ng-enter="nextInput('signupPwd')" id="signupPhoneOptional" type="tel"
                 ng-model="signUpData.phone2" placeholder="Telefone 2 (Opcional)" ui-br-phone-number
                 ui-mask-placeholder>
        </label>
        <label class="item item-input padding">
          <input ng-enter="nextInput('signupPwdConfirm')" id="signupPwd" type="password" placeholder="Senha"
                 ng-model="signUpData.password" required>
        </label>
        <label class="item item-input padding">
          <input ng-enter="nextInput('signupButton')" id="signunPwdConfirm" type="password"
                 placeholder="Confimar Senha" ng-model="password.confirmPassword" required>
        </label>
        <li class="item item-checkbox">
          <a>Aceito os Termos de Uso</a>
          <label class="checkbox">
            <input class="idl-terms-checkbox" type="checkbox" ng-model="signUpData.useTerms">
          </label>
        </li>
        <div align="center" ng-click="openTermsofuser()" class="use-terms">
          <br>
          <a>Termos de Uso</a>
        </div>
      </div>

      <div class="padding">
        <button id="signupButton" class="button button-block idl-sign-buttons idl-sign-buttons-v2" type="submit"
                ng-disabled="signUpForm.$invalid">Cadastrar
        </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
