<ion-modal-view class="signInModal">
  <ion-header-bar class="idl-bar">
    <h1 class="title idl-title">Efetuar Login</h1>
    <div class="buttons">
      <button class="button button-clear idl-button" ng-click="closeSignInModal()">Cancelar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="signInForm" ng-submit="doSignIn()">
      <div class="list list-inset">
        <label class="item item-input padding">
          <input ng-enter="nextInput('signinPwd')" type="email" placeholder="E-mail"
                 ng-model="signInData.email" required>
        </label>
        <label class="item item-input padding">
          <input ng-enter="nextInput('signinButton')" id="signinPwd" type="password" placeholder="Senha"
                 ng-model="signInData.password" required>
        </label>
      </div>

      <div class="padding">
        <button id="signinButton" class="button button-block idl-sign-buttons idl-sign-buttons-v2" type="submit"
                ng-disabled="signInForm.$invalid">Entrar
        </button>

        <button type="button" class="button button-block button-dark button-clear"
                ng-click="openForgotPasswordModal()">
          Esqueci a minha senha
        </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
