<ion-modal-view>
  <ion-header-bar class="idl-bar">
    <h1 class="title idl-title">TERMOS DE USO</h1>
    <div class="buttons">
      <button class="button button-clear idl-button" ng-click="closeTermsModal()">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="padding" ng-bind-html="tersmHTML"></div>
  </ion-content>
</ion-modal-view>
