<ion-view view-title="Sobre" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon idl-menu-button" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content>
    <br>
    <div align="center">
      <label class="idl-title-optional">{{restaurant.name}}</label> </br>
    </div>
    <div align="center">
      <label class="idl-title-optional">Versão: </label>
      <p>{{appVersion}}</p> </br>
    </div>
    <ion-footer-bar class="about-footer">
      <ion-view>
        <div align="center">
         Powered by <strong>Deway</strong>
          <a href="https://www.deway.com.br" ng-click="dewayLink()">
            <p>www.deway.com.br</p>
          </a>
        </div>
      </ion-view>
    </ion-footer-bar>
  </ion-content>
</ion-view>
