<ion-view view-title="Pagamento" cache-view="false">
  <ion-content>
    <div class="list payment-by-card" style="margin-bottom: 0px;">
      <div class="item item-divider idl-divider">
        Forma de Pagamento em Cartão
      </div>
      <div class="item item-avatar" ng-click="openCardsModal()">
        <img ng-if="card.flag_img" class="credit-card-image" ng-src="{{card.flag_img}}">

        <button ng-if="card.name == null" class="button idl-button button-block" style="left:-30px">
          Escolha o cartão
        </button>

        <label ng-if="card.name != null" class="item item-input item-borderless item-icon-right icon-color choose-card-active">
          <span class="input-label choose-card-label">{{card.name}}</span>

          <i style="margin-right: -19px !important;" class="icon ion-chevron-right"></i>

        </label>


      </div>
      <div ng-if="showReceipt" class="item item-divider idl-divider category-list-name">
        Opcional
      </div>
      <div ng-if="showRequiredReceipt" class="item item-divider idl-divider category-list-name">
        CPF/CNPJ na Nota/Cupom Fiscal?
      </div>
      <div ng-if="showReceipt" class="item item-checkbox">
        <label class="checkbox item-checkbox-right">
          <input type="checkbox" ng-model="finishedOrder.receipt.checked">
        </label>
        <p>CPF/CNPJ na Nota/Cupom Fiscal?</p>
      </div>
      <div class="padding" ng-if="finishedOrder.receipt.checked">
        <input type="tel" id="cpfcnpjInput" placeholder="Nº CPF/CNPJ" ng-model="finishedOrder.receipt.number" ui-br-cpfcnpj-mask/>
      </div>
      <div class="item item-divider idl-divider category-list-name">
        Pedido
      </div>
      <div>
        <div class="item item-divider cart-order" ng-repeat="order in finishedOrder.items track by $index">
          <div class="row" style="padding: 0;">
            <div class="col col-center col-67">
              <i class="cart-product-name">{{order.quantity}}x {{order.productName}}</i>
            </div>
            <div class="col">
              <h2 class="pull-right idl-price">
                R$ {{ order.totalOrder | number:2 }}
              </h2>
            </div>
          </div>

          <p class="text-muted" ng-if="order.compositions.length">Complementos:</p>
          <p ng-repeat="composition in order.compositions">
            <i class="composition-name">{{composition.quantity}}x {{composition.name}}</i>
          </p>
        </div>
      </div>

      <!-- Entrega -->
      <div class="item item-divider idl-divider category-list-name">
        Endereço de Entrega
      </div>
      <div class="item item-list padding">
        <h2 class="text-info padding delivery-address-payment-div">
          {{address.street}}, {{address.number}}, {{address.neighborhood.name}} {{complement}}
        </h2>
      </div>
      <!-- /Entrega -->

      <!-- Voucher (Cupom de desconto) -->
      <div ng-show="!discountValue">
        <div class="item item-divider idl-divider category-list-name">
          Cupom de Desconto
        </div>
          <input
            type="text"
            ng-if="!hasDiscountCode"
            placeholder="Digite aqui seu cupom"
            ng-blur="openDiscountPopup(discount)"
            ng-model="discount.discountCode"
            oninput="this.value = this.value.toUpperCase()"
            uppercased style="width: 100%;padding: 20px;"/>
        </div>
        <div
          class="item item-list padding"
          ng-show="hasDiscountCode"
         
        >
          <h2 class="text-info padding delivery-address-payment-div">
            {{ appliedDiscount.discountCode }}
            <!-- discount.discountCode -->
          </h2>
        </div>
      </div>
      <!-- /Voucher (Cupom de desconto) -->

      <!-- Valores -->
      <div class="item item-divider idl-divider category-list-name">
        Valores
      </div>
      <div class="item item-list values-payment">
        <div class="item item-borderless" ng-if="!hasDiscount">
          <h2 class="pull-left text-info">Total do Pedido: </h2>
          <h2 class="pull-right text-info"> R$ {{ finishedOrder.subtotal | number:2 }} </h2>
        </div>
        <div class="item item-borderless" ng-if="hasDiscount">
          <h2 class="pull-left text-info">Total do Pedido: </h2>
          <h2 class="pull-right text-info"> R$ {{ subtotalWithoutDiscount | number:2 }} </h2>
        </div>
        <div class="item item-borderless" ng-if="hasDiscount">
          <h2 class="pull-left text-info">Desconto: </h2>
          <h2 class="pull-right idl-price"> R$ -{{ appliedDiscount.amountDiscounted | number:2 }} </h2>
        </div>
        <div class="item item-borderless" ng-if="discountValue>0">
          <h2 class="pull-left text-info">Desconto: </h2>
          <h2 class="pull-right idl-price"> ({{(discount * 100).toFixed(1)}}%) R$ -{{ discountValue | number:2 }} </h2>
        </div>
        <div class="item item-borderless">
          <h2 class="pull-left text-info">Taxa de Entrega: </h2>
          <h2 class="pull-right text-info"> R$ {{ finishedOrder.freightCost | number:2 }} </h2>
        </div>
        <div class="payment-item-divider"></div>
        <div class="item item-borderless" ng-if="!hasDiscount">
          <h2 class="pull-left text-info order-total-label">Valor Total: </h2>
          <h2 class="pull-right order-total"> R$ {{finishedOrder.total | number:2 }} </h2>
        </div>
        <div class="item item-borderless" ng-if="hasDiscount">
          <h2 class="pull-left text-info order-total-label">Valor Total: </h2>
          <h2 class="pull-right order-total"> R$ {{ totalWithDiscount | number:2 }} </h2>
        </div>
        <div ng_if="discountValue>0" class="item item-borderless" style="white-space: inherit !important" ng-if="discount">
          <span class="text-info" style="font-size: 75%"> * {{discount_mesage}} </span>
        </div>
      </div>
      <!-- /Valores -->


      <div class="padding item item-input list-inset">
        <textarea class="" placeholder="{{commentsText}}" maxlength="256" rows="3" ng-model="finishedOrder.comments"></textarea>
      </div>
    </div>

    <div class="padding">
      <button ng-click="dealOrder(finishedOrder)" class="button idl-modifyorder-button-client button-block button-outline"
        ng-if="!isMarketPlace ">
        FINALIZAR PEDIDO
      </button>
      <button ng-click="continueDealOrder(finishedOrder)" ng-if="isMarketPlace" class="button idl-button button-block">
        CONTINUAR
      </button>
      <button ng-click="changeDelivery()" class="button idl-modifyorder-button button-block button-outline"
        ng-show="isPickUp  && (establishment.EstablishmentOperation == 2 || establishment.EstablishmentOperation == 1) && isMarketPlace   ">
        RECEBER NO ENDEREÇO
      </button>
      <button ng-click="openChangePickUpModal()" class="button idl-modifyorder-button button-block button-outline"
        ng-show="!isPickUp && (establishment.EstablishmentOperation == 3 || establishment.EstablishmentOperation == 1) && isMarketPlace">
        RETIRAR NA LOJA
      </button>
      <button ng-click="openChangePickUpModal()" class="button idl-modifyorder-button button-block button-outline"
        ng-show="isPickUp && isMarketPlace">
        ALTERAR LOJA
      </button>
      <button ng-click="changeOrder()" class="button idl-modifyorder-button button-block button-outline">
        MODIFICAR PEDIDO
      </button>
    </div>
  </ion-content>
</ion-view>