<ion-modal-view>
  <ion-header-bar class="idl-bar">
    <h1 class="title idl-title">Cartões</h1>
    <div class="buttons">
      <button class="button button-clear idl-button" ng-click="closeCardsModal()">Cancelar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list id="list-cards-name">
      <ion-item class="item item-avatar list-cards-name" ng-repeat="card in cards" ng-click="closeCardsModal(card)">
        <img class="credit-card-image" ng-src="{{card.flag_img}}">
        <label class="item-radio">

          <input type="radio" ng-value="card.id" ng-model="currentCard">
          <div class="credit-card-label">
            {{card.name}}
          </div>

          <i class="radio-icon ion-checkmark"></i>
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
