<ion-modal-view>
  <ion-header-bar class="idl-bar">
    <h4 class="title idl-title">Retirar na loja</h4>
    <div class="buttons">
      <button
        class="button button-clear idl-button"
        ng-click="closeChangePickUpModal()"
      >
        Cancelar
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="item item-divider idl-divider category-list-name">
      {{establishment.name}}
    </div>
    <div class="item item-list padding">
      <h2 class="text-info padding delivery-address-payment-div">
        <span>
          Endereço: {{establishment.street}}, {{establishment.number}},
          {{establishment.neighborhood}}, {{establishment.cep}},
          {{establishment.city.name}}/{{establishment.state.name}}
        </span>
      </h2>
    </div>

    <div class="padding">
      <button ng-click="changePickUp()" class="button idl-button button-block">
        CONFIRMAR LOJA
      </button>
      <button
        ng-click="changePickUpStore()"
        class="button idl-modifyorder-button button-block button-outline"
      >
        ALTERAR LOJA
      </button>
    </div>
  </ion-content>
</ion-modal-view>
