<ion-view view-title="Finalizar Pedido" cache-view="false">
  <ion-content class="text-center" scroll="false">
    <div class="padding" style="margin-top: 50%;">
      <span ng-show="!isPickUp"
        ><strong>Escolha a forma da sua entrega</strong></span
      >
      <span ng-show="isPickUp"
        ><strong>Agende o melhor horário para retirar seu pedido</strong></span
      >
      <button
        ng-click="dealOrder(finishedOrder)"
        class="button idl-button button-block icon ion-bag"
        ng-show="selectTimeToPickUp || chooseScheduled"
      >
        Finalizar Agendamento
      </button>
      <button
        ng-click="dealOrder(finishedOrder)"
        class="button idl-button button-block icon ion-clock"
        ng-show="availableShiftsNowDay.length > 1 && !chooseScheduled && !isPickUp"
      >
        Entrega entre {{establishment.min_delivery_time}} e {{establishment.delivery_time}}
      </button>
      <button
        ng-click="openSchedulingDeliveryModal()"
        class="button idl-button button-block icon ion-android-calendar"
        ng-show="!chooseScheduled && !isPickUp && accept_schedule"
      >
        Entrega Agendada
      </button>
      <button
        ng-click="pickUpNow(finishedOrder)"
        class="button idl-button button-block fa fa-car"
        ng-show="!selectTimeToPickUp && isPickUp"
      >
        Retirar Agora
      </button>
      <button
        ng-click="openSchedulingPickUpModal()"
        class="button idl-button button-block icon ion-android-calendar"
        ng-show="!selectTimeToPickUp && isPickUp && accept_pickup_schedule"
      >
        Agendar Retirada na Loja
      </button>
      <button
        ng-click="openSchedulingPickUpModal()"
        class="button idl-modifyorder-button button-block button-outline icon ion-edit"
        ng-show="selectTimeToPickUp"
      >
        Reagendar Retirada na Loja
      </button>
      <button
        id="schedulingOrder"
        ng-click="openSchedulingDeliveryModal()"
        class="button idl-modifyorder-button button-block button-outline icon ion-edit"
        ng-show="chooseScheduled && !isPickUp"
      >
        Reagendar Entrega
      </button>
    </div>
  </ion-content>
</ion-view>
