<ion-modal-view >
    <ion-header-bar class="idl-bar">
        <p class="title idl-title "> {{ flagCard && "Dados" || "Cartões" }} </p>
        <div class="buttons">
            <button class="button button-clear idl-button" ng-click="closeOnlineModal()">Cancelar</button>
        </div>
    </ion-header-bar>
    <ion-content>
      <div ng-if="flagCard" class="modal-online-card">
        <div class="list">
            <label class="item item-input item-floating-label cardholder-name" for="name">
                <span class="label-card cardholder-name">Nome do titular</span>
                <input class="input-card" type="text" id="name" ng-model="sender.name" maxlength="50">
            </label>
            <label class="item item-input item-floating-label" for="phone">
                <span class="label-card">Telefone</span>
                <input class="input-card" id="phone" type="tel"  ng-model="sender.phone" ui-mask="(99)99999.9999">
            </label>
            <label class="item item-input item-floating-label" for="signupEmail">
                <span class="label-card">E-mail</span>
                <input class="input-card" id="signupEmail" type="email" ng-model="sender.email" maxlength="50">
            </label>
            <label class="item item-input item-floating-label" for="birth">
                <span class="label-card">Cpf</span>
                <input class="input-card" type="tel" id="birth" ng-model="sender.cpf" ui-mask="999.999.999-99">
            </label>

            <label class="item item-input item-floating-label" for="street">
              <span class="label-card cardholder-name">Rua </span>
              <input class="input-card" id="street" type="text" ng-model="sender.street_collection">
            </label>

            <label class="item item-input item-floating-label flex-container-credit-card">
              <label for="number">
                <span class="label-card cardholder-name">Numero </span>
                <input class="input-card" id="number" type="text" ng-model="sender.street_number_collection" placeholder="235">
              </label>
              <label for="cep">
                <span class="label-card cardholder-name">Cep </span>
                <input class="input-card" id="cep" type="tel" ng-model="sender.zipcode_collection" ui-mask="99999-999" >
              </label>
            </label>

            <!-- <label class="item item-input item-floating-label">
              <span class="label-card cardholder-name">País </span>
              <input class="input-card" type="text" ng-change="stringLowercaseCountry()" ng-model="sender.country_collection" placeholder="br" maxlength="2">
            </label> -->

            <label class="item item-input item-floating-label" for="state">
              <span class="label-card cardholder-name">Estado </span>
              <input class="input-card" id="state" type="text" ng-change="stringLowercaseState()" ng-model="sender.state_collection" placeholder="ce" maxlength="2">
            </label>

            <label class="item item-input item-floating-label" for="city">
              <span class="label-card cardholder-name">Cidade </span>
              <input class="input-card" id="city" type="text" ng-model="sender.city_collection" placeholder="Fortaleza">
            </label>

            <label class="item item-input item-floating-label" for="number_card">
                <span class="label-card card-number">Número do Cartão</span>
                <div class="credit-card-wrapper flex-container-number-card">
                    <div class="number-card-left">
                    <input ng-model="online.number" id="number_card" ng-change="brandDetect()" class="input-card" type="tel"
                           cc-number cc-type="ccNumberType"
                           cc-format ui-mask="9999 9999 9999 9999">
                    </div>
                    <div class="number-card-rigth">
                      <img ng-show="online.brand !== null" id="brand" class="credit-card-brand" ng-src="{{online_card.img}}">
                      <i ng-show="online.brand === null" class="fa fa-2x fa-credit-card credit-card-brand" aria-hidden="true"></i>
                    </div>
                </div>
            </label>
            <label class="item item-input item-floating-label flex-container-credit-card">
              <label for="date">
                <span class="label-card">Validade</span>
                <input class="input-card-little" id="date" type="tel" ng-model="form.expiration" ui-mask="99/99">
              </label>
              <label for="cvv">
                <span class="label-card">CVV</span>
                <input class="input-card-little" type="tel" id="cvv" ng-model="online.cvv" ui-mask="999">
              </label>
            </label>
            <label class="item item-input item-floating-label flex-container-stored-card" ng-click="selectCheckbox(0)">
              <div class="flex-container-stored-card-left">
                <p>Deseja armazenar este cartão para futuras <br> transações?</p>
              </div>
              <div class="flex-container-stored-card-rigth">
                <span class="checkbox-modal-credit-cards" ng-show="!reason.selected" >
                  <i class="fa fa-check border-icon-filter"></i>
                </span>
                <span class="checkbox-modal-credit-cards" ng-show="reason.selected">
                  <i class="fa fa-check border-icon-filter-checked" aria-hidden="true"></i>
                </span>
              </div>
            </label>
            <br>
            <br>
            <br>
        </div>
      </div>
      <div ng-if="!flagCard">
        <div class="list">
          <button class="button button-block button-positive set-address" ng-click="setNewCard()">
            Inserir novo cartão
          </button>
          <ion-list style="float: left; width: 100% !important; padding-bottom: 20%;">
            <ion-item>
              <p>Cartões de crédito armazenados.</p>
            </ion-item>
            <ion-item ng-repeat="card in storedCards"
                      ng-click="selectCard(card)"
                      class="item-avatar item-list-store flex-container-stored-credit"
                      ng-style="($index % 2 == 0) && applyingDash || ''">
              <div style="flex-grow: 2; align-self: center">
                <img class="stored-credit-card-brand" ng-src="{{brandDetectStoredcard(card.brand)}}">
              </div>
              <div style="flex-grow: 8; align-self: center">
                <i class="idl-store-status-label">
                  {{ card.brand }}
                  <span class="idl-store-status">
                    {{ '******' + card.last_numbers }}
                  </span>
                </i>
              </div>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </ion-content>
    <div class="bar bar-footer idl-bar" ng-if="flagCard">
      <div ng-click="confirmOnline()" class="title set_color_button">
        CONFIRMAR
      </div>
    </div>
</ion-modal-view>
