<ion-view view-title="Pagamento" cache-view="false">
    <ion-content>
        <div class="list">
           <!-- Dados do pedido -->
            <div class="item item-divider idl-divider category-list-name span-request">
                Pedido
            </div>
            <div>
                <div class="item item-divider cart-order" ng-repeat="order in finishedOrder.items track by $index">
                    <div class="row" style="padding: 0;">
                        <div class="col col-center col-67">
                            <i class="cart-product-name">{{order.quantity}}x {{order.productName}}</i>
                        </div>
                        <div class="col">
                            <i class="pull-right idl-price">
                                R$ {{ order.totalOrder | number:2 }}
                            </i>
                        </div>
                    </div>

                    <p class="text-muted" ng-if="order.compositions.length">Complementos:</p>
                    <p ng-repeat="composition in order.compositions">
                        <i class="composition-name">{{composition.quantity}}x {{composition.name}}</i>
                    </p>
                </div>
            </div>
            <!-- /Dados do pedido -->

            <!-- Dados cartao -->
            <div class="item item-divider idl-divider category-list-name">
                Dados do cartão
            </div>
            <div class="item item-avatar" ng-click="openOnlineModal()">
                <img ng-if="online_card.img" class="credit-card-image" ng-src="{{online_card.img}}">
                <button ng-if="showOnlineButton" class="button idl-button button-block set_color_button" style="left:-30px;">
                    Selecionar cartão
                </button>
                <label ng-if="online.number !== null" class="item item-input item-borderless item-icon-right icon-color choose-card-active">
                    <span class="input-label choose-card-label">{{online_card.number}}</span>
                </label>
            </div>
            <!-- /Dados cartao -->

            <!-- Entrega -->
            <div class="item item-divider idl-divider category-list-name">
                Endereço de Entrega
            </div>
            <div class="item item-list padding flex-container-payment" ng-click="opendeliveryAddressModal()">
              <span class="payment-left" >
                <i class="text-info padding delivery-address-payment-div input-speciePayment">
                    {{address.street}}, {{address.number}}, {{address.neighborhood.name}} {{complement}}
                </i>
              </span>
              <span class="payment-right">
                <i class="icon ion-chevron-right cart-address-icon"></i>
              </span>
            </div>
            <!-- /Entrega -->

            <!-- Valores -->
            <div class="item item-divider idl-divider category-list-name">
                Valores:
            </div>
            <div class="item item-list values-payment">
                <div class="item item-borderless">
                    <i class="pull-left text-info">Total do Pedido: </i>
                    <i class="pull-right text-info"> R$ {{ finishedOrder.subtotal | number:2 }} </i>
                </div>
                <div class="item item-borderless">
                    <i class="pull-left text-info">Taxa de Entrega: </i>
                    <i class="pull-right text-info"> R$ {{ finishedOrder.freightCost | number:2 }} </i>
                </div>
                <div class="item item-borderless" ng-if="discount">
                    <i class="pull-left text-info">Desconto: </i>
                    <i class="pull-right text-info"> R$ -{{ discountValue | number:2 }} </i>
                </div>
                <div class="payment-item-divider"></div>
                <div class="item item-borderless">
                    <div class="pull-left text-info order-total-label ">Valor Total: </div>
                    <div class="pull-right idl-price order-total"> R$ {{finishedOrder.total | number:2 }} </div>
                </div>
            </div>
            <!-- /Valores -->

            <div class="padding item item-input list-inset">
                <textarea class="pre-ordered-comments-textarea" placeholder="{{commentsText}}" maxlength="256" rows="3" ng-model="finishedOrder.comments"></textarea>
            </div>
        </div>

        <div class="padding">
            <button ng-click="dealOrder(finishedOrder)" class="button idl-button button-block set_color_button">
                FINALIZAR PEDIDO
            </button>
            <button ng-click="changeOrder()" class="button idl-modifyorder-button button-block button-outline">
                MODIFICAR PEDIDO
            </button>
        </div>
    </ion-content>
</ion-view>
