<ion-view view-title="Forma de Pagamento" cache-view="false">
  <ion-content ng-hide="isDeprecated" scroll="false" class="text-center">
    <section class="vertical-center padding" id="section-payment-form">
      <label class="text-info">Clique em um dos botões para escolher a forma de pagamento.</label>
      <button style="margin-top: 20px" ng-show="acceptedPaymentTypes.cash"
              ng-click="setPaymentForm(specie_negative_id)" class="button idl-button button-block icon ion-cash">
        Dinheiro
      </button>
      <button ng-show="acceptedPaymentTypes.card" ng-click="setPaymentForm(card_negative_id)"
              class="button idl-button button-block icon ion-card">
        Cartão (Máquina)
      </button>
      <button ng-show="acceptedPaymentTypes.online" ng-click="setPaymentForm(online_negative_id)"
              class="button idl-button button-block icon ion-card ">
        Cartão (Online)
      </button>
    </section>
  </ion-content>
  <div ng-if="isDeprecated" align="center" class="centered" style="color: grey">
    <label>A versão do aplicativo está desatualizada.</label>
    <br><br>
    <button ng-click="openAppMarket()" class="button button-positive">
      Atualizar
    </button>
  </div>
</ion-view>
