<ion-modal-view>
  <ion-header-bar class="idl-bar">
    <h4 class="title idl-title">Agendamento</h4>
    <div class="buttons">
      <button
        class="button button-clear idl-button"
        ng-click="closeSchedulingPickUpModal()"
      >
        Cancelar
      </button>
    </div>
  </ion-header-bar>
  <ion-tabs
    class="tabs-striped tabs-background-positive tabs-color-light tabs-top tabs-icon-top"
  >
    <ion-tab
      title="Hoje"
      icon-on="fa fa-calendar"
      icon-off="ion-ios-clock-outline"
      on-select="TimeToPickUp()"
    >
    </ion-tab>
    <ion-tab
      title="Amanhã"
      icon-on="fa fa-calendar"
      icon-off="ion-ios-clock-outline"
      on-select="PickUpTomorrow()"
    >
    </ion-tab>
  </ion-tabs>
  <ion-content
    class="has-footer scheduling-delivery-content"
    idl-toggle-overflow-scroll
  >
    <div class="list" id="schedulePickUpList">
      <form name="setSchedulePickUpForm" id="schedulePickUpForm" action="">
        <ion-checkbox
          ng-repeat="timePickUp in timePickUpScheduling"
          ng-click="hourClicked(timePickUp, $index)"
          ng-checked="$index == selectedIndex && true || false"
          ng-if="$index >= 1"
        >
          {{timePickUp}}
        </ion-checkbox>
      </form>
    </div>
    <div ng-if="timeScheduling.length == 0" class="no-items-panel">
      <p>Não estamos realizando agendamentos de pedidos para essa data</p>
      <i class="fa fa-frown-o fa-4x"></i>
    </div>
  </ion-content>
  <div class="bar bar-footer idl-bar padding">
    <button
      id="finalizeOrderScheduling"
      ng-click="dealOrderPickUp(finishedOrder)"
      class="button idl-button button-block"
      ng-show="timePickUpScheduling.length > 0 || restaurantStatus"
    >
      CONFIRMAR AGENDAMENTO
    </button>
  </div>
</ion-modal-view>
