<ion-modal-view>
  <ion-header-bar class="idl-bar">
    <h4 class="title idl-title">Agendamento</h4>
    <div class="buttons">
      <button
        class="button button-clear idl-button"
        ng-click="closeSchedulingDeliveryModal()"
      >
        Cancelar
      </button>
    </div>
  </ion-header-bar>
  <ion-tabs
    class="tabs-striped tabs-background-positive tabs-color-light tabs-top tabs-icon-top"
  >
    <ion-tab
      title="Hoje"
      icon-on="fa fa-calendar"
      icon-off="ion-ios-clock-outline"
      on-select="TimeToDelivery()"
    >
    </ion-tab>
    <ion-tab
      ng-if="availableShiftsNextDay.length > 1"
      title="Amanhã"
      icon-on="fa fa-calendar"
      icon-off="ion-ios-clock-outline"
      on-select="deliveryTomorrow()"
    ></ion-tab>
    <ion-tab
      ng-if="availableShiftsComingDay.length > 1"
      title="{{dateFullComing}}"
      icon-on="fa fa-calendar"
      icon-off="ion-ios-clock-outline"
      on-select="deliveryComing()"
    ></ion-tab>
  </ion-tabs>
  <ion-content
    class="has-footer scheduling-delivery-content"
    idl-toggle-overflow-scroll
  >
    <div class="list" id="scheduleList">
      <form name="setScheduleForm" id="scheduleForm">
        <ion-checkbox
          id="timeScheduledChecked"
          ng-model="timeScheduled.checked"
          ng-repeat="timeScheduled in timeScheduling"
          ng-click="hourClicked(timeScheduled, $index)"
          ng-checked="$index == selectedIndex && true || false"
          ng-if="$index >= 0"
        >
          {{timeScheduled}}
        </ion-checkbox>
      </form>
    </div>
    <div ng-if="timeScheduling.length == 0" class="no-items-panel">
      <p>Não estamos realizando agendamentos de pedidos para essa data</p>
      <i class="fa fa-frown-o fa-4x"></i>
    </div>
  </ion-content>
  <div class="bar bar-footer idl-bar padding">
    <button
      id="finalizeOrderScheduling"
      ng-click="dealOrderDelivery(finishedOrder)"
      class="button idl-button button-block"
      ng-show="timeScheduling.length > 0 || restaurantStatus"
    >
      CONFIRMAR AGENDAMENTO
    </button>
  </div>
</ion-modal-view>
