<ion-view view-title="Pagamento" cache-view="false">
  <ion-content>
    <div class="list" style="margin-bottom: 0px;">
      <div class="item item-divider idl-divider category-list-name span-money-finish">
        Pagamento em Dinheiro <span style="color: red;">*</span>
      </div>
      
      <div style="text-align: center;
      padding: 10px;
      font-weight: 700;
      font-size: 17px;" ng-if=!hasDiscount>
        <span>(Total R$ {{finishedOrder.total | number:2 }})</span>
      </div>
      <div style="text-align: center;
            padding: 10px;
            font-weight: 700;
            font-size: 17px;" ng-if="hasDiscount">
        <span>(Total R$ {{totalWithDiscount | number:2 }})</span>
      </div>
      <label class="item item-input" style="display: block;padding: 10px;margin-bottom: 2px;">
        <input type="tel" ng-if="!maskForOldAndroid" placeholder="Vai pagar com quanto?"
          ng-change="specieChangeAltered()" ng-model="finishedOrder.payForm.specieChange" ui-money-mask />

        <p id="message-alert-input-money-troco">Campo Obrigatório.</p>

        <input required type="tel" ng-if="maskForOldAndroid"
          placeholder="Vai pagar com quanto? (Total: R$ {{finishedOrder.total | number:2 }})"
          ng-change="specieChangeAltered()" ng-model="finishedOrder.payForm.specieChange" money-mask
          money-mask-prepend="R$" />
      </label>
      <div ng-if="showReceipt" class="item item-divider idl-divider category-list-name">
        Opcional
      </div>
      <div ng-if="showRequiredReceipt" class="item item-divider idl-divider category-list-name">
        CPF/CNPJ na Nota/Cupom Fiscal?
      </div>
      <div ng-if="showReceipt" class="item item-checkbox">
        <label class="checkbox item-checkbox-right">
          <input type="checkbox" ng-model="finishedOrder.receipt.checked">
        </label>
        <p>CPF/CNPJ na Nota/Cupom Fiscal?</p>
      </div>
      <div class="padding" ng-if="finishedOrder.receipt.checked">
        <input type="tel" id="cpfcnpjInput" placeholder="Nº CPF/CNPJ" ng-model="finishedOrder.receipt.number"
          ui-br-cpfcnpj-mask />
      </div>
      <div class="item item-divider idl-divider category-list-name">
        Pedido
      </div>
      <div>
        <div class="item item-divider cart-order" ng-repeat="order in finishedOrder.items track by $index">
          <div class="row" style="padding: 0;">
            <div class="col col-center col-67">
              <i class="cart-product-name">{{order.quantity}}x {{order.productName}}</i>
            </div>
            <div class="col">
              <h2 class="pull-right idl-price">
                R$ {{ order.totalOrder | number:2 }}
              </h2>
            </div>
          </div>

          <p class="text-muted" ng-if="order.compositions.length">
            Complementos:
          </p>
          <p ng-repeat="composition in order.compositions">
            <i class="composition-name">{{composition.quantity}}x {{composition.name}}</i>
          </p>
        </div>
      </div>

      <!-- Entrega -->
      <div class="item item-divider idl-divider category-list-name">
        Endereço de Entrega
      </div>
      <div class="item item-list padding">
        <h2 class="text-info padding delivery-address-payment-div">
          {{address.street}}, {{address.number}},
          {{address.neighborhood.name}}{{complement}}
        </h2>
      </div>
      <div class="item item-divider idl-divider category-list-name">
        Tempo de Entrega
        
        
      </div>
      
      <div class="item item-list padding">
    <div class = "padding">
    <strong
      ng-if="establishment.min_delivery_time && establishment.min_delivery_time != '0'">{{establishment.min_delivery_time}}-</strong><strong
      ng-if="establishment.delivery_time && establishment.delivery_time != '0'">{{establishment.delivery_time}}</strong> </div>
      </div>
      <!-- /Entrega -->

      <!-- Voucher (Cupom de desconto) -->
      <div ng-show="!discountValue">
        <div class="item item-divider idl-divider category-list-name">
          Cupom de Desconto
        </div>
        <input type="text" ng-if="!hasDiscountCode" placeholder="Digite aqui seu cupom"
          ng-blur="openDiscountPopup(discount)" oninput="this.value = this.value.toUpperCase()" ng-model="discount.discountCode" uppercase
          style="width: 100%;padding: 20px;" />
      </div>
      <div class="item item-list padding" ng-show="hasDiscountCode">
        <h2 class="text-info padding delivery-address-payment-div">
          {{ appliedDiscount.discountCode }}
          <!-- discount.discountCode -->
        </h2>
      </div>
    </div>
    <!-- /Voucher (Cupom de desconto) -->
    <div class="item item-divider idl-divider category-list-name" ng-if="finishedOrder.is_scheduled">
      Data e hora da entrega
    </div>
    <div class="item item-list padding" ng-if="finishedOrder.is_scheduled">
      <h2 class="text-info padding delivery-address-payment-div">
        {{dateFull}} <br>
        {{finishedOrder.scheduled_delivery}}
      </h2>
    </div>
    <!-- /Delivery -->

    <!-- PickUp -->
    <div class="item item-divider idl-divider category-list-name" ng-if="finishedOrder.is_pick_up">
      Data e hora para retirar em nossa unidade
    </div>
    <div class="item item-list padding" ng-if="finishedOrder.is_pick_up">
      <h2 class="text-info padding delivery-address-payment-div">
        {{dateFull}} <br>
        {{finishedOrder.scheduled_pick_up}}
      </h2>
    </div>
    <!-- /PickUp -->
    <!-- Valores -->
    <div class="item item-divider idl-divider category-list-name">
      Valores
    </div>
    <div class="item item-list values-payment">
      <div class="item item-borderless" ng-if="!hasDiscount">
        <h2 class="pull-left text-info">Total do Pedido:</h2>
        <h2 class="pull-right text-info">
          R$ {{ finishedOrder.subtotal | number:2 }}
        </h2>
      </div>
      <div class="item item-borderless" ng-if="hasDiscount">
        <h2 class="pull-left text-info">Total do Pedido:</h2>
        <h2 class="pull-right text-info">
          R$ {{ subtotalWithoutDiscount | number:2 }}
        </h2>
      </div>
      <div class="item item-borderless" ng-if="hasDiscount">
        <h2 class="pull-left text-info">Desconto:</h2>
        <h2 class="pull-right idl-price">
          R$ -{{ appliedDiscount.amountDiscounted | number:2 }}
        </h2>
      </div>
      <div class="item item-borderless" ng-if="discountValue>0">
        <h2 class="pull-left text-info">Desconto:</h2>
        <h2 class="pull-right idl-price">
          ({{(discount * 100).toFixed(1)}}%) R$ -{{ discountValue | number:2
            }}
        </h2>
      </div>
      <div class="item item-borderless">
        <h2 class="pull-left text-info">Taxa de Entrega:</h2>
        <h2 class="pull-right text-info">
          R$ {{ finishedOrder.freightCost | number:2 }}
        </h2>
      </div>
      <div class="item item-borderless" ng-if="finishedOrder.totalChange > 0">
        <h2 class="pull-left text-info">Troco:</h2>
        <h2 class="pull-right text-info">
          R$ {{ finishedOrder.totalChange | number:2 }}
        </h2>
      </div>
      <div class="payment-item-divider"></div>
      <div class="item item-borderless" ng-if="!hasDiscount">
        <h2 class="pull-left text-info order-total-label">Valor Total:</h2>
        <h2 class="pull-right order-total">
          R$ {{finishedOrder.total | number:2 }}
        </h2>
      </div>
      <div class="item item-borderless" ng-if="hasDiscount">
        <h2 class="pull-left text-info order-total-label">Valor Total:</h2>
        <h2 class="pull-right order-total">
          R$ {{ totalWithDiscount | number:2 }}
        </h2>
      </div>
      <div ng_if="discountValue>0" class="item item-borderless" style="white-space: inherit !important"
        ng-if="discount">
        <span class="text-info" style="font-size: 75%">
          * {{discount_mesage}}
        </span>
      </div>
    </div>
    <!-- /Valores -->
    <div class="padding item item-input list-inset">
      <textarea class="" placeholder="{{commentsText}}" maxlength="256" rows="3"
        ng-model="finishedOrder.comments"></textarea>
    </div>
    </div>

    <div class="padding">
      <button ng-click="dealOrder(finishedOrder)"
        class="button idl-modifyorder-button-client button-block button-outline"
        ng-if=" !isMarketPlace">
        FINALIZAR PEDIDO
      </button>
      <button ng-click="continueDealOrder(finishedOrder)" ng-if="isMarketPlace" class="button idl-button button-block">
        CONTINUAR
      </button>
      <button ng-click="changeDelivery()" class="button idl-modifyorder-button button-block button-outline"
        ng-show="isPickUp  && (establishment.EstablishmentOperation == 2 || establishment.EstablishmentOperation == 1) && isMarketPlace   ">
        RECEBER NO ENDEREÇO
      </button>
      <button ng-click="openChangePickUpModal()" class="button idl-modifyorder-button button-block button-outline"
        ng-show="!isPickUp && (establishment.EstablishmentOperation == 3 || establishment.EstablishmentOperation == 1) && isMarketPlace">
        RETIRAR NA LOJA
      </button>
      <button ng-click="openChangePickUpModal()" class="button idl-modifyorder-button button-block button-outline"
        ng-show="isPickUp && isMarketPlace">
        ALTERAR LOJA
      </button>
      <button ng-click="changeOrder()" class="button idl-modifyorder-button button-block button-outline">
        MODIFICAR PEDIDO
      </button>
    </div>
  </ion-content>
</ion-view>