$positive: #000 !default;
$balanced: #000 !default;
$calm: #000 !default;
$stable: #000 !default;
$energized: #FFF !default;
$royal: #0e0e0e !default;
$assertive: white !default;
$bg-color: #F4F4F4 !default;
$bg-color-optional: #F8F8F8 !default;
$login-later: #000 !default;
$alter-layout-cart: black !default;