@mixin lato-font-face($font-name) {
  @font-face {
    font-family: $font-name;
    src: url('../fonts/lato/#{$font-name}.eot');
    src: url('../fonts/lato/#{$font-name}.woff2') format('woff2'),
    url('../fonts/lato/#{$font-name}.woff') format('woff'),
    url('../fonts/lato/#{$font-name}.ttf') format('truetype'),
    url('../fonts/lato/#{$font-name}.svg##{$font-name}') format('svg'),
    url('../fonts/lato/#{$font-name}.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
}

@include lato-font-face('Lato-Light');
@include lato-font-face('Lato-Regular');
