@import "mixins";

.background-login {
  background: url(../img/background.png) no-repeat center center fixed;
  @include background-size(cover);
}



.cart-holder:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

.cart-order {
  background-color: white;
}

.empty-cart {
  color: grey;
  font-size: 16px;
  padding: 20px;
  text-align: center;
}

.duplicate-items, .decrease-items {
  max-width: 30px;
  @include box-shadow(1px 2px 5px -1px rgba(0, 0, 0, 0.3));
  @include border-radius(100%);
}

.duplicate-items {
  background-color: #33CD5F !important;
  border-color: #33CD5F !important;
}

.decrease-items {
  background-color: #EF473A !important;
  border-color: #EF473A !important;
}

.pre-order-total {
  font-weight: bold !important;
  font-size: 17px !important;
  float: right;
}

.pre-order-product-name {
  font-weight: bold;
  font-size: 16px !important;
  width: 90%;
  white-space: normal;
}

.pre-order-product-img-div {
  height: 150px;
}

.pre-order-product-img {
  height: 100%;
  background: no-repeat center center !important;
  overflow: hidden !important;
}

.pre-order-product-description {
  font-size: 12px !important;
  white-space: normal !important;
}

.pre-order-notes {
  width: 100% !important;
}

.android-cart-icon {
  font-size: xx-large;
}

.android-cart-button {
  bottom: 5%;
}

.android-cart-button-opened {
  bottom: 23%;
}

.android-cart-button, .android-cart-button-opened {
  position: absolute;
  margin: auto;
  right: 5%;
  z-index: 100;
  width: 60px;
  height: 60px;
  padding-top: 14px;
  text-align: center;
  @include box-shadow(1px 2px 5px -1px rgba(0, 0, 0, 0.3));
  @include transition(all 250ms ease-in);
  @include border-radius(50%);
}

.cart-counter {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  padding: 1px 8px;
  position: absolute;
  margin-top: -20px;
  vertical-align: top !important;
  @include border-radius(100%);
}

.contact-text {
  border: 0;
  overflow: inherit !important;
  text-overflow: inherit !important;
  white-space: normal !important;
}

.refecent-point-modal-text {
  border: 0;
  overflow: inherit !important;
  text-overflow: inherit !important;
  white-space: normal !important;
}

.category-list-name {
  line-height: 31px;
  white-space: normal;
}

.category-divider {
  border-bottom: 1px solid rgba(102, 102, 102, 0.41) !important;
}

.category-list-button {
  float: right;
}

.product-list-image-div {
  max-width: 93% !important;
}

.product-list-search {
  margin: 15px;
}

.product-list-search-input {
  border: 1px solid #ccc !important;
  height: 40px;
}

.product-list-image {
  max-height: 60px !important;
  max-width: 60px !important;
  margin-right: 10px !important;
  float: left;
  width: 100%;
  height: 100%;
  @include border-radius(0 !important);
}

.product-list-item.activated {
  background: #f4f5f5 !important;
}

.product-list-item-name {
  font-weight: bold;
  font-size: 15px !important;
  white-space: normal !important;
  text-align: justify !important;
}

.product-list-item-name-grid {
  font-weight: bold;
  font-size: 13px !important;
  white-space: normal !important;
  text-align: justify !important;
}

.product-list-item-price-div {
  float: right;
}

.product-list-item-price {
  color: #000 !important;
  position: relative;
  margin: auto;
  bottom: 0 !important;
  font-size: 13px !important;
}

.product-list-item-price-value {
  font-size: 15px !important;
  font-weight: bold;
}

.product-list-item-price-value-grid {
  font-size: 12px !important;
  font-weight: bold;
}

.product-list-item-description {
  font-size: 12px !important;
  white-space: normal !important;
  max-width: 90% !important;
  text-align: justify !important;
}

.complement-list-item-description {
  font-size: 12px !important;
  white-space: normal;
}

.payform-delivery-address {
  font-weight: bold;
  display: block;
}

.payform-total-order {
  float: right;
  font-weight: bold;
}

.payform-freight-cost {
  font-size: 15px;
}

.payform-total {
  font-size: 17px;
  font-weight: bold;
}

.payform-text-area {
  width: 100%;
  border: 1px solid #b2b2b2;
}

.feedback-click-positive:active {
  border-color: #0c63ee;
  background-color: #0c63ee;
  @include box-shadow(inset 0 1px 4px rgba(0, 0, 0, 0.1));
}

.sidemenu-item {
  background: transparent;
  border: 0;
  font-size: 18px;
  .item-content {
    background: transparent;
  }
}

.sidemenu-item-title {
  line-height: 1;
  padding-top: 5px !important;
  margin-left: 25%;
}

.sidemenu-item-border {
  width: 200%;
  height: 0;
  border-top: 1px solid rgba(102, 102, 102, 0.41) !important;
  font-size: 0;
  margin-left: 5% !important;
  @include transform-origin(0 0);
  @include transform(scale(0.5));
}

.sidemenu-item-icon {
  float: left;
  width: 35px;
  text-align: center;
  .icon:before {
    font-size: 25px;
  }
}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}

.filled {
  color: #fd0;
}

.readonly .star .filled {
  color: #666;
}

.scroll {
  height: 100%;
}

.orders-list {
  margin-bottom: -20px !important;
}

.idl-order-card {
  padding: 0 !important;
  margin: 25px 16px !important;
}

.idl-arrow-right {
  &:before {
    font-size: 23px;
    vertical-align: middle;
  }
}

.idl-marker {
  font-size: 14px;
  color: #000;
}

.idl-clock {
  font-size: 15px;
  color: #000;
}

.idl-info {
  font-size: 20px;
  color: #000;
}

.select-address {
  font-size: 12px;
  width: 75%;
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.restaurant-info-padding {
  width: 93%;
  position: absolute;
  margin-left: 10px;
  height: 0;
  border-top: 1px solid rgba(102, 102, 102, 0.05) !important;
  font-size: 0;
}

.select-address-padding {
  margin-left: 10px;
  border-top: 1px solid rgba(102, 102, 102, 0.05) !important;
  background-color: #fff;
  height: 15px;
  width: 93%;
}

.current-address-label {
  color: #000 !important;
  font-size: 12px;
}

.restaurant-distance {
  color: #aaa;
  font-weight: bold;
  font-size: 13px;
}

.restaurant-delivery-time {
  color: #aaa;
  font-size: 13px;
  font-weight: bold;
}

.restaurant-info {
  margin-left: 10px;
  color: #aaa;
  font-size: 13px;
  font-weight: bold;
}

.restaurant-image {
  height: 80px !important;
  width: 80px !important;
  position: absolute;
  left: 0;
  margin-left: 10px;
}

.restaurant-info-label {
  margin-right: -20px !important;
  font-size: 17px;
  color: #000;
}

.restaurant-info-icon {
  color: #374352;
}

.restaurant-status-label {
  color: #374352;
}

.restaurant-status-open-label {
  font-size: 13px !important;
  font-weight: bold;
  margin-right: 10px !important;
  color: #27ae60;
}

.restaurant-status-closed-label {
  font-size: 13px !important;
  font-weight: bold;
  margin-right: 10px !important;
  color: #c0392b;
}

.restaurant-status-icon {
  color: #374352;
}

.restaurant-opens-message {
  padding-right: 1%;
}

.restaurant-details-icons {
  line-height: 1.3;
  position: absolute;
  left: 0;
  margin-left: 100px;
  margin-bottom: 10px;
}

.restaurant-details {
  height: 100px !important;
  position: relative !important;
}

.restaurant-details-avatar {
  height: 100%;
}

.restaurant-details-logo {
  display: block !important;
  margin: auto;
  height: 100% !important;
  top: 0 !important;
  bottom: 0 !important;
  background: no-repeat center center !important;
  overflow: hidden !important;
}

.establishment-img {
  height: 150px;
}

.establishment-logo {
  height: 100%;
  background: no-repeat center center !important;
  overflow: hidden !important;
}

.establishment-type-label {
  font-size: 18px;
  font-weight: bold !important;
  padding-bottom: 3%;
}

.establishment-address-div {
  display: flex;
  border-color: #ccc !important;
}

.establishment-address-label {
  font-size: 14px !important;
  color: #666666 !important;
  white-space: normal !important;
  margin: auto !important;
  top: 0 !important;
  bottom: 0 !important;
}

.establishment-description {
  background-color: #F7F7F7;
}

.establishment-description-text {
  white-space: normal !important;
}

.establishment-website {
  border: 0 !important;
}

.establishment-website-label {
  white-space: normal !important;
  color: #666666 !important;
}

.establishment-email {
  border: 0 !important;
}

.establishment-email-label {
  white-space: normal !important;
  color: #666666 !important;
}

.establishment-schedule {
  border: 0 !important;
}

.establishment-schedule-title {
  font-weight: bold;
  margin-left: 10px;
  background-color: transparent !important;
  color: #666666 !important;
  font-family: "Lato", sans-serif;
  font-size: 19px !important;
}

.schedule-div {
  width: 175px !important;
}

.schedule-shift-1 {
  float: right !important;
}

.schedule-shift-2 {
  float: right !important;
}

.schedule-shift-3 {
  float: right !important;
}

.schedule-divider {
  width: 260px;
  height: 0;
  border-top: 1px solid rgba(102, 102, 102, 0.41) !important;
  font-size: 0;
  margin-left: 45px !important;
  @include transform-origin(0 0);
  @include transform(scale(0.5));
}

.establishment-schedule-label {
  white-space: normal !important;
  color: #666666 !important;
  padding-left: 45px !important;
}

.establishment-schedule-day-label {
  font-weight: bold !important;
}

.establishment-schedule-shift-label {
  font-size: 14px !important;
  color: #666666 !important;
}

.establishment-payment {
  border: 0 !important;
}

.establishment-payment-cards {
  border: 0 !important;
  margin-bottom: -10px !important;
}

.establishment-payment-cards-label {
  margin-left: 20px !important;
  font-family: "Lato", sans-serif;
  background-color: transparent !important;
  color: #666666 !important;
  font-size: 15px !important;
}

.establishment-payment-img {
  margin: auto;
  bottom: 0 !important;
  top: 0 !important;
  height: 25px !important;
}

.establishment-payment-label {
  font-weight: bold;
  margin-left: 10px;
  background-color: transparent !important;
  color: #666666 !important;
  font-family: "Lato", sans-serif;
  font-size: 19px !important;
}

.delivery-address-payment-div {
  white-space: normal !important;
}

.establishment-phone {
  border: 0 !important;
}

.establishment-phone-label {
  background-color: transparent !important;
  color: #666666 !important;
}

.establishment-phone-input {
  color: #666666 !important;
  width: 100%;
}

.noestablishments-div {
  width: 100%;
  height: 100%;
}

.noestablishments-info {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  @include transform(translateY(-50%));
}

.noestablishments-img {
  height: 130px;
  margin-bottom: 20px;
}

.noestablishments-address {
  font-size: 15px;
  font-weight: bold;
}

.products-footer-opened {
  height: 23% !important;
  display: block;
  @include transition(all 250ms ease-in);
}

.products-footer-closed {
  visibility: hidden;
  height: 0 !important;
  position: absolute;
  @include transition(all 250ms ease-in);
}

.products-grid {
  margin-bottom: -5px !important;
  padding-bottom: 0 !important;
  @include flex-wrap(wrap);
}

.products-layout-buttons {
  float: right;
}

.layout-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 9px;
  margin-bottom: 14px;
  .icon:before {
    // Correction to the button of view switch
    margin: initial;
    padding: initial;
  }
}

.footer-closed {
  visibility: hidden;
}

.footer-divider {
  width: 100%;
  height: 0;
  font-size: 0;
}

.address-footer {
  position: relative;
  display: inline;
  margin: auto;
}

.address-footer-title {
  font-size: 13px !important;
  padding-left: 3% !important;
}

.address-footer-name {
  font-size: 13px !important;
  padding-left: 3% !important;
}

.address-footer-button {
  font-size: 15px !important;
  line-height: 100% !important;
  width: 25%;
  float: right;
  top: 50%;
  @include transform(translateY(-50%));
}

.cart-content {
  padding-bottom: 50% !important;
}

.cart-item-divider {
  height: 30px !important;
  line-height: 13px !important;
}

.cart-footer-title {
  font-size: 15px !important;
}

.cart-footer-counter-title {
  font-size: 13px !important;
}

.cart-subfooter {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  border-top: 1px solid #cecece !important;
}

.cart-address-icon {
  font-size: 20px !important;
  color: #000 !important;
}

.credit-card-image {
  max-width: 90px !important;
  @include border-radius(0 !important);
}

.credit-card-label {
  margin-left: 50px !important;
  position: absolute;
  font-size: 15px;
  top: 50%;
  @include transform(translateY(-50%));
}

.choose-card-label {
  margin-left: 35px !important;
  font-size: 14px;
  float: right !important;
}

.store-distance {
  font-size: 12px !important;
}

.store-list-address {
  font-size: 12px !important;
  color: #8c8c8c !important;
  overflow: inherit !important;
  text-overflow: inherit !important;
  white-space: normal !important;
}

/** Wilmerson **/

#item-address {
  padding: 10px;
  @include box-shadow(0px -1px 6px rgba(0, 0, 0, 0.4));
}

#item-address button {
  top: 50%;
  font-size: medium;
  @include transform(translateY(-50%));
}

.item {
  border-color: #F7F3F3;
  &.item-input.padding {
    margin: 10px 0;
  }
}

.text-center {
  text-align: center;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}

.vertical-center {
  position: fixed;
  top: 50%;
  @include transform(translateY(-50%));
}

#section-payment-form {
  width: 90%;
  left: 5%;
}

.counter-complements {
  padding: 0;
  width: 100px !important;
  padding-bottom: 5px !important;
  .col {
    color: white;
    text-align: center;
  }
  .col-counter {
    background-color: transparent;
    max-width: 50px;
    .col {
      color: black;
    }
  }
  .button {
    width: 5px;
    height: 5px;
    padding: 0;
  }
  h2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.counter-complements-increase-decrease-buttons {
  padding: 0;
  width: 90px !important;
  height: 20px !important;
}

.container-counter {
  margin-top: 20px;
  margin-bottom: -5px;
  padding: 0;
}

.container-value-order-total {
  text-align: end;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 50px;
  p {
    margin-bottom: 0;
  }
}

.container-pre-order-total {
  text-align: end;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.estimated-shipping-time {
  text-align: start;
  margin-left: 5px;
}

.order-discount-value {
  color: red !important;
}

.order-discount-message {
  font-size: 14px !important;
}

.value-order-total {
  margin-top: 10px;
  font-weight: bold;
  color: #000;
}

.order-total {
  font-weight: bold !important;
  font-size: 18px !important;
  float: right;
}

.order-total-label {
  color: #000 !important;
  font-weight: bold !important;
  font-size: 18px !important;
}

.text-info {
  color: #9A9898;
}

.values-payment {
  padding: 0;
  .item {
    padding: 0 20px;
    margin: 10px 0;
  }
}

.specie-change-input {
  border: 1px solid #ccc !important;
}

.payment-item-divider {
  border-top: 1px solid #dcdcdc !important;
}

.button.button-facebook {
  color: #fff;
  border-color: #3b5998;
  background-color: #3b5998;
}

.input-address {
  background-color: transparent !important;
}

.order-status-approved-label {
  color: green;
}

.order-status-pending-label {
  color: grey;
}

.composition-name {
  font-size: 15px !important;
  width: 90%;
  white-space: normal;
}

.popup {
  @include border-radius(10px !important);
}

.menu-establishment-name {
  font-weight: bold;
  font-size: 16px !important;
  width: 90%;
  white-space: normal;
}

.cart-product-name {
  font-weight: bold;
  font-size: 16px !important;
  width: 90%;
  white-space: normal;
}

.login-buttons {
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -95px;
}

.products-spinner {
  margin-top: 5% !important;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  svg {
    width: 19% !important;
    height: 50px !important;
  }
}

.refuse-text {
  white-space: normal;
}

.use-terms {
  font-weight: bold !important;
  font-size: 14px !important;
  text-decoration: underline;
  z-index: 9999 !important;
  &:active, &:focus {
    color: #a1a1a1 !important;
  }
}

.address-list-current-div {
  text-align: left;
  width: 100%;
  height: auto;
  line-height: normal;
}

.address-list-current {
  font-weight: bold;
  padding-left: 8px;
  padding-bottom: 4px;
  font-size: 14px;
  width: 70%;
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.address-list-address {
  white-space: normal !important;
}

.address-list-changebutton {
  float: right !important;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  min-height: inherit;
}

.address-list-deactive-address {
  color: red;
  white-space: normal;
}

.product-list {
  padding-bottom: 120px;
}

.item-contact-input-textarea {
  width: 100%;
}

.item-contact-input-text {
  width: 100%;
}

.item-contact-divider {
  width: 100%;
  height: 0;
  border-top: 1px solid #cecece !important;
  font-size: 0;
}

.item-contact-title {
  font-weight: bold;
  font-size: 16px;
}

.cc-selector input {
  display: none !important;
  margin: 0 !important;
  padding: 0 !important;
  @include appearance(none !important);
}

input {
  &:active + .user-choose {
    opacity: .9;
  }
  &:checked + .user-choose {
    @include filter(none);
  }
}

.item-radio .radio-icon {
  margin-right: -13px !important;
}

.user-choose {
  font-size: 70px !important;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 70px;
  @include transition(all 100ms ease-in);
  @include filter(brightness(1.8) grayscale(1) opacity(.7));
  &:hover {
    @include filter(brightness(1.2) grayscale(.5) opacity(.9));
  }
}

.icon-color {
  color: #ccc;
}

.choose-card-active {
  background-color: transparent;
  &:active {
    background-color: transparent;
  }
}

.resize-scroll {
  height: 100% !important;
}

.bar {
  background-size: 100% 0 !important;
}

.idl-store-avatar {
  max-width: 55px !important;
  max-height: 55px !important;
  margin: auto !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 8px !important;
  @include border-radius(5px !important);
}

.idl-store-status {
  font-size: 14px !important;
}

.min_order_value-text, .order-status-refused-label {
  color: red;
}

/* Custom Font to whole app */
* {
  font-family: "Lato-Regular", sans-serif;
}

//handle issue with letter-spacing iOS
.platform-ios {
  letter-spacing: -0.05em !important;
}

/* Custom Modal Animation */

.slide-in-right {
  @include transform(translateX(100%));
  &.ng-enter, > .ng-enter {
    @include transition(all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms);
  }
  &.ng-enter-active, > .ng-enter-active {
    @include transform(translateX(0));
  }
  &.ng-leave, > .ng-leave {
    @include transition(all ease-in-out 250ms);
  }
}

/* Custom Disable Forms */

.disabled {
  opacity: 0.5;
  pointer-events: none;
  > * {
    opacity: 0.5;
    pointer-events: none;
  }
}

/*  Custom terms checkbox background */

.idl-terms-checkbox:checked:before {
  background: #7FD31D !important;
  border-color: #7FD31D !important;
}

/* Animate ngHide */

.ng-hide {
  display: none !important;
}

.animate-hide {
  @include transition(0.2s linear all);
  opacity: 1;
  &.ng-hide {
    opacity: 0;
  }
  &.ng-hide-add, &.ng-hide-remove {
    opacity: 0 !important;
  }
}


/*pagarme*/

.flex-container-stored-credit {
  display: flex;
  flex-wrap: nowrap;
}

.credit-card-brand {
  max-width: 50px !important;
  max-height: 20px !important;
}

.stored-credit-card-brand {
  max-width: 68px !important;
  max-height: 30px !important;
  border-radius: 0% !important;
}


.flex-container-stored-card {
  display: flex;
  align-items: stretch;
}

.flex-container-stored-card .flex-container-stored-card-left {
  width: 83%;
}

.flex-container-stored-card .flex-container-stored-card-rigth {
  width: 12%;
  border-radius: 7px;
}

.checkbox-modal-credit-cards {
  width: 13%;
  font-size: 30px;
}

/**/
.checkbox.info-container-modal {
  margin: 0 5%;
  width: 90%;
  display: flex;
  align-items: center;
}

.checkbox.info-container-modal > div{
  width: 50%;
  font-size: 30px;
  //line-height: 40px;
}

.checkbox.info-container-modal > div.label-modal-left {
  text-align: left;
}

.checkbox.info-container-modal > div.label-modal-rigth {
  text-align: right;
}

.checkbox.info-container-modal > div.label-modal-rigth .checkbox-modal{
  //border: 1px solid #d6b769;
  padding: 20px 19px;
  margin-left: 75%;
  width: 25%;
  border-radius: 6px;
}

.checkbox.info-container-modal > div.label-modal-rigth .checkbox-modal-icon{
  margin-left: 75%;
  width: 25%;
  border-radius: 6px;
}

i.fa.fa-check.border-icon-filter {
  color: #fff;
  border: 1px solid #000;
  padding: 2px;
  margin: 0 4px;
}

i.fa.fa-check.border-icon-filter-checked {
  color: #000 !important;
  border: 1px solid #000;
  padding: 2px;
  margin: 0 4px;
}

.container-credit-card {
  margin-top: 12%;
}

span.label-card{
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  color: #444;
  font-weight: 700;
}

input.input-card {
  font-family: 'Montserrat',sans-serif;
  color: #444;
  font-size: 15px;
  width: 96%;
}

input.input-card-little {
  font-family: 'Montserrat',sans-serif;
  color: #0b0b0b;
  font-size: 14px;
  width: 90%;
}

.credit-card-wrapper.flex-container-number-card {
  display: flex;
  flex-wrap: nowrap;
}

.credit-card-wrapper.flex-container-number-card > div.number-card-left{
  width: 86%;
}

.credit-card-wrapper.flex-container-number-card > div.number-card-rigth{
  width: 14%;
}

label.item.item-input.item-floating-label.flex-container-credit-card {
  display: flex;
  flex-wrap: nowrap;
}

label.item.item-input.item-floating-label.flex-container-credit-card > label{
  width: 50%;
}

.input-label {
  color: #444 !important;
  font-weight: 700 !important;
}

button#button-modal-credit-card {
  margin-top: 30% !important;
}

@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader){
        height: 70px;
    }
    .platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)>*{
        margin-top: 30px;
    }

    .main-buttons-viure{
      height: 74%;
      position: relative;
    }

}

//Configuracao dos botoes de login PADRAO
.main-buttons {
  height: 50%;
  position: relative;
}
//Viure botoes de login
.main-buttons-viure{
  height: 74%;
  position: relative;
}