$positive: #e7b848 !default;
$balanced: #000 !default;
$calm: #e7b848 !default;
$stable: #000 !default;
$energized: #FFF !default;
$royal: #000000 !default;
$assertive: #e7b848 !default;
$bg-color: #F4F4F4 !default;
$bg-color-optional: #F8F8F8 !default;
$login-later: #000 !default;
$alter-layout-cart: #e7b848 !default