/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
$fa-font-path: "../lib/font-awesome/fonts" !default;

// Include all of Ionic
@import "variables", "mixins";
@import "../lib/ionic/scss/ionic.scss";
@import "../lib/font-awesome/scss/font-awesome.scss";

//App main color
//	$positive

//Font color
//	$balanced
//	$energized

//Button color
//	$positive
//	$calm

//Optional colors
//	$stable
//	$royal
//  $assertive

.idl-button {
  background-color: $positive !important;
  color: $energized !important;
  &:active {
    background-color: $energized !important;
    color: $positive !important;
  }
}

.idl-sign-buttons {
  background-color: $assertive !important;
  color: $calm !important;
  width: 48.5%;
  font-weight: 700;
  margin-bottom: 3%;
  border-radius: 3px;
  &:active {
    background-color: #fff !important;
    color: $calm !important;
  }
}

.idl-sign-buttons-buttons-bread-burger {
  background-color: $positive !important;
  color: $energized !important;
  width: 48.5%;
  font-weight: 700;
  margin-bottom: 3%;
  border-radius: 3px;
  &:active {
    background-color: #fff !important;
    color: $calm !important;
  }
}

.idl-sign-buttons-v2 {
  background-color: $assertive !important;
  color: $energized !important;
  width: 48.5%;
  margin-bottom: 3%;
  border-radius: 3px;
  &:active {
    background-color: #fff !important;
    color: $calm !important;
  }
}

.idl-signin-button {
  @extend .idl-sign-buttons;
  float: left;
}

.idl-signup-button {
  @extend .idl-sign-buttons;
  float: right;
}

.idl-login-later {
  //padrao white
  color: $login-later !important;

  //fix color client
  //color: $calm !important;

  //Vibebox
  //color: #705C83 !important;

  //WHITE
  //@debug: $positive !important;
  //padrao black
  //color: $login-later !important;
}

.idl-menu-item-term-of-user{
  border-top: 1px solid #F7F3F3;
}

.button-push-color {
  background-color: $positive !important;
  color: white;
}

#buttonApple {
  display: none;
}


.idl-cart-button {
  background-color: $positive !important;
  color: $energized !important;
}

.idl-cart-counter {
  background: #249d46 !important;
}
.modality-select-button {
  border-color: transparent;

  background-color: #f0cccc;
  color: #fff;
  position: relative;
  display: inline-block;
  margin: 0 20px;
  padding: 0 12px;
  width: 8em;
  min-width: 52px;
  min-height: 47px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  cursor: pointer;
}
.modality-not-select-button {
  border-color: transparent;
  background-color: #c0392b;
  color: white;
  position: relative;
  display: inline-block;
  margin: 0 20px;
  padding: 0 12px;
  width: 8em;
  min-width: 52px;
  min-height: 47px;
  border-width: 1px;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  cursor: pointer;
}

.idl-modifyorder-button {
  color: $positive !important;
}

.idl-modifyorder-button-client {
  background-color: $positive !important;
  color: $energized !important;
}

.idl-bar {
  background-color: $positive;
  border-color: $positive;
  color: $energized;
}

.idl-menu-bar {
  height: 145px !important;
}

.idl-menu-avatar {
  margin: auto;
  top: 0;
  bottom: 0;
  width: 80px !important;
  height: 80px !important;
  border-radius: 40px !important;
  @include background-size(cover !important);
  background: no-repeat 50% 50%;
}

.idl-menu-username {
  margin-left: 40px;
  font-size: 20px;
}

.idl-menu-profile-label {
  margin-left: 40px;
  margin-top: 5px;
  font-size: 13px;
}

.idl-menu-welcome {
  margin-left: 40px;
  margin-bottom: 3px;
  font-size: 14px;
}

.idl-menu-item {
  opacity: 0.8 !important;
  color: $energized !important;
  font-size: 15px !important;
  &:active {
    background-color: $bg-color;
    color: $positive !important;
  }
}

.idl-menu-margin {
  height: 105px !important;
}

.idl-title {
  color: $energized !important;
}

.idl-title-optional {
  color: $positive;
}

.idl-price {
  color: #27ae60 !important;
}

.idl-menu-button {
  color: $energized !important;
}

.idl-divider {
  font-weight: bold;
  font-size: 15px;
  background-color: $bg-color;
  color: $stable;
  border-left: 7px solid $positive !important;
}

.idl-item {
  color: $energized !important;
}

.idl-store-distance {
  color: $balanced !important;
}

.idl-menu {
  background-color: $bg-color-optional !important;
}

.idl-icon {
  width: 35px;
}

.idl-icon-color {
  color: $energized !important;
}

.idl-products-layout-button {
  background-color: $positive !important;
  color: #fff !important;
}

.idl-menu-item-title {
  color: $balanced !important;
  &:active {
    color: $energized !important;
  }
}

.idl-list-item {
  color: $balanced !important;
}

.idl-list-item-description {
  color: #949494 !important;
  white-space: normal !important;
}

.idl-line-divider {
  width: 100%;
  height: 0;
  border-top: 1px solid $energized !important;
  font-size: 0;
}

.idl-address-pin {
  color: $positive !important;
  font-size: 37px !important;
}

.idl-establishment-details {
  background-color: $positive !important;
  border-color: $positive !important;
}

.idl-establishment-website-icon {
  color: $positive !important;
}

.idl-establishment-email-icon {
  color: $positive !important;
}

.idl-establishment-schedule-icon {
  color: $positive !important;
  font-size: 30px !important;
}

.idl-establishment-payment-icon {
  color: $positive !important;
  font-size: 23px !important;
}

.idl-establishment-phone-icon {
  color: $positive !important;
}

.idl-contact-icon {
  font-size: 70px !important;
}

.idl-contact-icon:active {
  color: $positive !important;
}

.idl-select-address {
  padding: 5px 10px 5px 10px;
  width: 100%;
}

.idl-select-address-button {
  font-size: 10px;
  padding: 4px;
  float: right;
  margin-right: -1px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  min-height: inherit;
  font-weight: bolder;
}

.idl-spinner {
  stroke: #fff;
  fill: #fff;
}

.restaurant-info-icon-chevron-right {
  width: 37px;
  font-size: 37px;
  position: absolute;
  right: 0;
  margin-right: 3px;
  color: $positive;
}

.item-delete .button.icon {
  color: $positive !important;
}

.checkbox input {
  &:checked:before,
  &:checked + .checkbox-icon:before {
    background: $stable;
    border-color: $stable;
  }
  &:before {
    background-color: #efefef;
  }
}

//Protein Now
/*#proteinnow-button {
   background-color: $energized !important;
   color: $calm !important;
   &.activated {
       background-color: $calm !important;
       color: $energized !important;
   }
}*/

//Fabinho Gás
/*#fabgas {
   background-color: #188EDE !important;
   color: #fff !important;
   border-color: #188EDE !important;
   &.activated {
       color: #188EDE !important;
       background-color: #fff !important;
   }
}

.idl-demo-info-button {
    color: $positive !important;
}*/
//End Fabinho Gás

//iDelivery Demo
/*.idl-demo-login-button {
    background-color: $positive !important;
    color: $energized !important;
    border-color: $positive !important;
    &.activated {
        color: $positive !important;
        background-color: $energized !important;
    }
}*/
//End iDelivery Demo

//IPHONE X / 11 / 12
@media only screen and (width: 375px) and (height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .platform-ios.platform-cordova:not(.fullscreen)
    .bar-header:not(.bar-subheader) {
    height: 70px;
  }
  .platform-ios.platform-cordova:not(.fullscreen)
    .bar-header:not(.bar-subheader)
    > * {
    margin-top: 30px;
  }
  #logo-login-v2 img {
    width: 66%;
    max-width: 100%;
    margin: 104px auto -108px;
    display: block;
  }
  .modal-cvv-online{
    margin-top: -180px;
  }
}

//Iphone 6 / 7 / 8
@media only screen and (width: 375px) {
  // or 213.4375em or 3in or 9cm and (height: 667px) // or 41.6875em {
  #logo-login-v2 img {
    width: 66%;
    max-width: 100%;
    margin: 120px auto -120px;
    display: block;
  }

  .modal-cvv-online{
    margin-top: -180px;
  }

}
//Iphone 6 / 7 / 8 plus
@media only screen and (width: 414px) {
  // or 213.4375em or 3in or 9cm and (height: 736px) // or 41.6875em {
  #logo-login-v2 img {
    width: 66%;
    max-width: 100%;
    margin: 120px auto -120px;
    display: block;
  }
  .modal-cvv-online{
    margin-top: -180px;
  }
}
//Iphone 5
@media only screen and (width: 320px) {
  // or 213.4375em or 3in or 9cm and (height: 568px) // or 41.6875em {
  #logo-login-v2 img {
    width: 66%;
    max-width: 100%;
    margin: 80px auto -80px;
    display: block;
  }
  .modal-cvv-online{
    margin-top: -180px;
  }
}

/* 1792x828px at 326ppi */
@media only screen and (width: 414px) and (height: 896px) {
  #logo-login-v2 img {
    width: 70%;
    max-width: 100%;
    margin: 301px auto -249px;
    display: block;
  }
  .modal-cvv-online{
    margin-top: -180px;
  }
}

//Samsung
@media only screen and (width: 384px) {
  // or 213.4375em or 3in or 9cm and (height: 640px) // or 41.6875em {
  #logo-login-v2 img {
    width: 66%;
    max-width: 100%;
    margin: 80px auto -100px;
    display: block;
  }
  .modal-cvv-online{
    margin-top: -180px;
  }
}

/* iPad pro */
@media only screen and (width: 1024px) and (height: 1366px) {
  #logo-login-v2 img {
    width: 41%;
    max-width: 100%;
    margin: 482px auto -392px;
    display: block;
  }
  .modal-cvv-online{
    margin-top: -180px;
  }
}

//Samsung
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  #logo-login-v2 img {
    width: 66%;
    max-width: 100%;
    margin: 80px auto -100px;
    display: block;
  }
  .modal-cvv-online{
    margin-top: -180px;
  }
}

.logo-login img {
  width: 56%;
  max-width: 100%;
  margin: 70px auto -40px;
  display: block;
}

.footer-menu-idl {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $calm !important;
  color: white;
  text-align: center;
}

#message-alert-input-money-troco {
  display: none;
}

.swal2-popup {
  font-size: 10px !important;
}

.required-input::-webkit-input-placeholder::after {
  content: "*";
  color: blue;
  font-size: 1.15em;
}
.required-input:-moz-placeholder:after {
  content: "*";
  color: blue;
  font-size: 1.15em;
}
.required-input::-moz-placeholder:after {
  content: "*";
  color: blue;
  font-size: 1.15em;
}

.product-list-image-idl {
  width: 120px;
  max-height: 120px;
}
