<ion-view view-title="Carrinho" cache-view="true">
  <ion-content class="has-footer">
    <div class="empty-cart" ng-show="orders.length == 0">
      <a>Seu carrinho está vazio</a>
    </div>
    <div class="cart-content cart-holder" ng-if="orders.length > 0">
      <div class="item item-divider idl-divider cart-item-divider card-top-finish-order" ng-if = "!isPickUp">
        <span>ENDEREÇO DE ENTREGA</span>
      </div>
      <div class="item item-divider idl-divider cart-item-divider card-top-finish-order" ng-if="isPickUp">
        <span>ENDEREÇO DE RETIRADA</span>
      </div>
      <div class="item item-list item-icon-right padding" ng-click="opendeliveryAddressModal()" ng-if="!isPickUp">
        <h2 class="text-info padding">
          {{address.street + ", " + address.number}}
          <br>{{address.neighborhood.name}}
          <p>{{address.complement}}</p>
        </h2>
        <i class="icon ion-chevron-right cart-address-icon"></i>
      </div>
      <div class="item item-list item-icon-right padding" ng-if="isPickUp">
        <h2 class="text-info padding">
          {{EstablishmentAddress.street}}
          <br>{{EstablishmentAddress.neighborhood}}
          <p>{{EstablishmentAddress.city}}</p>
        </h2>
        <i class="icon ion-chevron-right cart-address-icon"></i>
      </div>

      <div class="item item-divider idl-divider cart-item-divider">
        <span>ITENS</span>
      </div>
      <div class="item item-divider cart-order" ng-repeat="order in orders track by $index">
        <div class="row" style="padding: 0;">
          <div class="col col-center col-67">
            <i class="cart-product-name">{{order.productName}}</i>
          </div>
          <div class="counter-complements pull-right col">
            <div class="row row-center" style="padding: 0">
              <button class="button button-small button-assertive icon ion-minus col col-minus decrease-items" ng-click="removeOrderCart($index)">
              </button>
              <div class="col col-counter row">
                <h2 class="title col col-center">{{order.quantity}}</h2>
              </div>
              <button class="button button-small button-balanced icon ion-plus col col-plus duplicate-items" ng-click="duplicateOrderCart($index)">
              </button>
            </div>
          </div>
        </div>

        <p class="text-muted" ng-if="order.compositions.length">Complementos:</p>
        <p ng-repeat="composition in order.compositions">
          <i class="composition-name">{{composition.quantity}}x {{composition.name}}</i>
        </p>

        <div class="pull-right idl-price">
          R$ {{ order.totalOrder | number:2 }}
        </div>
      </div>
    </div>
  </ion-content>

  <div ng-if="orders.length > 0" class="cart-subfooter">
    <div class="container-value-order-total text-info padding-right">
      <p>Total do pedido: R$ {{subtotal | number:2 }}</p>
      <p>Taxa de entrega: R$ {{freightCost| number:2 }}</p>
      <p class="order-discount" ng-if="discount">
        <span>Desconto Especial:
          <strong class="idl-price">R$ -{{discountValue | number:2}} </strong>
        </span>
      </p>
      <p class="value-order-total">Total:
        <span class=" order-total"> &nbsp; R$ {{total | number:2 }}</span>
      </p>
      <!-- <div ng-if="discount_message">
        <br>
        <p>
          <span class="order-discount-message">
            <strong style="font-size: 80% !important">* {{discount_message}}</strong>
          </span>
        </p>
      </div> -->
      <div ng-if="total < store.min_order_value" class="container-value-order-total min_order_value-text padding-right">
        <p>Valor mínimo de pedido: R$ {{store.min_order_value}}</p>
      </div>
    </div>
  </div>

  <ion-footer-bar ng-if="orders.length > 0" class="idl-bar cart-footer">
    <div ng-click="payOrder()" class="title cart-footer-title">
      ESCOLHER FORMA DE PAGAMENTO
      <i class="icon ion-android-arrow-forward idl-arrow-right"></i>
    </div>
  </ion-footer-bar>
</ion-view>