<ion-modal-view>
  <ion-header-bar class="idl-bar">
    <h1 class="title idl-title">Endereço</h1>
    <div class="buttons">
      <button class="button button-clear idl-button" ng-click="closedeliveryAddressModal()">Cancelar</button>
    </div>
  </ion-header-bar>
  <ion-content id="content-align-responsive">
    <ion-list>
      <ion-item ng-repeat="deliveryAdd in userAddress" ng-disabled="!deliveryAdd.attending_status.active"
                ng-class="{'disabled': !deliveryAdd.attending_status.active}">
        <label class="item-radio">
          <input type="radio" ng-model="currentAddress" ng-click="closedeliveryAddressModal(deliveryAdd)">
          <div class="">
            <em class="">{{deliveryAdd.street + ", " + deliveryAdd.number}}</em>
            <br>
            <em class="">{{deliveryAdd.neighborhood.name}}</em>
          </div>
          <p class="">{{"("+ deliveryAdd.cep + ") " + deliveryAdd.city + " - " + deliveryAdd.state}}</p>
          <label ng-if="!deliveryAdd.attending_status.active" class="address-list-deactive-address">{{deliveryAdd.attending_status.message}}</label>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
